In [185]:
import pandas as pd
import numpy as np

In [4]:
"""STACK METHOD"""


state_fruit=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/state_fruit.csv',index_col=0)

In [5]:
state_fruit

         Apple  Orange  Banana
Texas       12      10      40
Arizona      9       7      12
Florida      0      14     190

In [6]:
state_fruit.stack()

Texas    Apple      12
         Orange     10
         Banana     40
Arizona  Apple       9
         Orange      7
         Banana     12
Florida  Apple       0
         Orange     14
         Banana    190
dtype: int64

In [7]:
state_fruit.stack().reset_index()

   level_0 level_1    0
0    Texas   Apple   12
1    Texas  Orange   10
2    Texas  Banana   40
3  Arizona   Apple    9
4  Arizona  Orange    7
5  Arizona  Banana   12
6  Florida   Apple    0
7  Florida  Orange   14
8  Florida  Banana  190

In [8]:
(state_fruit.stack().reset_index().rename(columns={'level_0':'State','level_1':'Fruit',0:'NBFRPYR'}))

     State   Fruit  NBFRPYR
0    Texas   Apple       12
1    Texas  Orange       10
2    Texas  Banana       40
3  Arizona   Apple        9
4  Arizona  Orange        7
5  Arizona  Banana       12
6  Florida   Apple        0
7  Florida  Orange       14
8  Florida  Banana      190

In [9]:
state_fruit2=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/state_fruit.csv')

In [16]:
state_fruit2=state_fruit2.rename(columns={'Unnamed: 0':'State'})

In [17]:
state_fruit2.stack()

0  State       Texas
   Apple          12
   Orange         10
   Banana         40
1  State     Arizona
   Apple           9
   Orange          7
   Banana         12
2  State     Florida
   Apple           0
   Orange         14
   Banana        190
dtype: object

In [21]:
state_fruit2.set_index('State').stack().reset_index().rename(columns={'level_1':'Fruit',0:'NBFRPYR'})

     State   Fruit  NBFRPYR
0    Texas   Apple       12
1    Texas  Orange       10
2    Texas  Banana       40
3  Arizona   Apple        9
4  Arizona  Orange        7
5  Arizona  Banana       12
6  Florida   Apple        0
7  Florida  Orange       14
8  Florida  Banana      190

In [34]:
#MELTMRTHOD
state_fruit2=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/state_fruit.csv')
state_fruit2=state_fruit2.rename(columns={'Unnamed: 0':'State'})

In [36]:
state_fruit2.melt(id_vars=['State'],value_vars=['Apple','Orange','Banana'],var_name='Fruits',value_name='NBFRPY')

     State  Fruits  NBFRPY
0    Texas   Apple      12
1  Arizona   Apple       9
2  Florida   Apple       0
3    Texas  Orange      10
4  Arizona  Orange       7
5  Florida  Orange      14
6    Texas  Banana      40
7  Arizona  Banana      12
8  Florida  Banana     190

In [37]:
state_fruit2.melt()

   variable    value
0     State    Texas
1     State  Arizona
2     State  Florida
3     Apple       12
4     Apple        9
5     Apple        0
6    Orange       10
7    Orange        7
8    Orange       14
9    Banana       40
10   Banana       12
11   Banana      190

In [38]:
state_fruit2.melt(id_vars='State')

     State variable  value
0    Texas    Apple     12
1  Arizona    Apple      9
2  Florida    Apple      0
3    Texas   Orange     10
4  Arizona   Orange      7
5  Florida   Orange     14
6    Texas   Banana     40
7  Arizona   Banana     12
8  Florida   Banana    190

In [39]:
mov_df=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/movie.csv')

In [40]:
mov_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [70]:
cols=['movie_title','actor_1_name','actor_2_name','actor_3_name','actor_1_facebook_likes','actor_2_facebook_likes','actor_3_facebook_likes']

actors=mov_df[cols]

In [ ]:
def change_col_name(col_name):
    col_name = col_name.replace('_name', '')
    if 'facebook' in col_name:
        fb_idx = col_name.find('facebook')
        col_name = (col_name[:5] + col_name[fb_idx - 1:] 
               + col_name[5:fb_idx-1])
    return col_name

In [45]:
'actor_1_name'.replace('_name','')

'actor_1'

In [46]:
'facebook' in 'actor_1_facebook_likes'

True

In [59]:
col_name='actor_1_facebook_likes'

In [62]:
fb_idx='actor_1_facebook_likes'.find('facebook')
fb_idx

8

In [63]:
col_name[:5] + col_name[(fb_idx)-1:] + col_name[5:fb_idx-1]

'actor_facebook_likes_1'

In [65]:
col_name[5]

'_'

In [68]:
col_name[5:fb_idx-1]

'_1'

In [ ]:
if 'facebook' in 'actor_1_facebook_likes':

In [69]:
def change_col_name(col_name):
    col_name=col_name.replace('_name','')
    if 'facebook' in col_name:
        fb_idx=col_name.find('facebook')
        col_name=col_name[:5] + col_name[(fb_idx)-1:] + col_name[5:fb_idx-1]
    return col_name

In [71]:
actor2=actors.rename(columns=change_col_name)

In [72]:
actor2

,movie_title,actor_1,actor_2,actor_3,actor_facebook_likes_1,actor_facebook_likes_2,actor_facebook_likes_3
0,Avatar,CCH Pounder,Joel David Moore,Wes Studi,1000.0,936.0,855.0
1,Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,40000.0,5000.0,1000.0
2,Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,11000.0,393.0,161.0
3,The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000.0,23000.0,23000.0
4,Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,131.0,12.0,NaN
5,John Carter,Daryl Sabara,Samantha Morton,Polly Walker,640.0,632.0,530.0
6,Spider-Man 3,J.K. Simmons,James Franco,Kirsten Dunst,24000.0,11000.0,4000.0
7,Tangled,Brad Garrett,Donna Murphy,M.C. Gainey,799.0,553.0,284.0
8,Avengers: Age of Ultron,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,26000.0,21000.0,19000.0
9,Harry Potter and the Half-Blood Prince,Alan Rickman,Daniel Radcliffe,Rupert Grint,25000.0,11000.0,10000.0
10,Batman v Superman: Dawn of Justice,Henry Cavill,Lauren Cohan,Alan D. Purwin,15000.0,4000.0,2000.0
11,Superman Returns,Kevin Spacey,Marlon Brando,Frank Langella,18000.0,10000.0,903.0
12,Quantum of Solace,Giancarlo Giannini,Mathieu Amalric,Rory Kinnear,451.0,412.0,393.0
13,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp,Orlando Bloom,Jack Davenport,40000.0,5000.0,1000.0
14,The Lone Ranger,Johnny Depp,Ruth Wilson,Tom Wilkinson,40000.0,2000.0,1000.0
15,Man of Steel,Henry Cavill,Christopher Meloni,Harry Lennix,15000.0,3000.0,748.0
16,The Chronicles of Narnia: Prince Caspian,Peter Dinklage,Pierfrancesco Favino,Damián Alcázar,22000.0,216.0,201.0
17,The Avengers,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,26000.0,21000.0,19000.0
18,Pirates of the Caribbean: On Stranger Tides,Johnny Depp,Sam Claflin,Stephen Graham,40000.0,11000.0,1000.0
19,Men in Black 3,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,10000.0,816.0,718.0
20,The Hobbit: The Battle of the Five Armies,Aidan Turner,Adam Brown,James Nesbitt,5000.0,972.0,773.0
21,The Amazing Spider-Man,Emma Stone,Andrew Garfield,Chris Zylka,15000.0,10000.0,963.0
22,Robin Hood,Mark Addy,William Hurt,Scott Grimes,891.0,882.0,738.0
23,The Hobbit: The Desolation of Smaug,Aidan Turner,Adam Brown,James Nesbitt,5000.0,972.0,773.0
24,The Golden Compass,Christopher Lee,Eva Green,Kristin Scott Thomas,16000.0,6000.0,1000.0
25,King Kong,Naomi Watts,Thomas Kretschmann,Evan Parke,6000.0,919.0,84.0
26,Titanic,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,29000.0,14000.0,794.0
27,Captain America: Civil War,Robert Downey Jr.,Scarlett Johansson,Chris Evans,21000.0,19000.0,11000.0
28,Battleship,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,14000.0,10000.0,627.0
29,Jurassic World,Bryce Dallas Howard,Judy Greer,Omar Sy,3000.0,2000.0,1000.0
...,...,...,...,...,...,...,...
4886,Manito,Franky G,Panchito Gómez,Casper Martinez,93.0,46.0,42.0
4887,Rampage,Matt Frewer,Katharine Isabelle,Michael Paré,986.0,918.0,492.0
4888,Slacker,Tommy Pallotta,Richard Linklater,Jean Caffeine,5.0,0.0,0.0
4889,Dutch Kills,Tjasa Ferme,Mikaal Bates,Damon Owlia,313.0,25.0,9.0
4890,Dry Spell,Kristen Seavey,Suzi Lorraine,Travis Legge,370.0,184.0,138.0
4891,Flywheel,Shannen Fields,Lisa Arnold,Janet Lee Dapper,51.0,49.0,4.0
4892,Exeter,Ashley Tramonte,Brittany Curran,Lindsay MacDonald,630.0,512.0,265.0
4893,The Ridges,Robbie Barnes,Alana Kaniewski,Brandon Landers,720.0,19.0,8.0
4894,The Puffy Chair,Mark Duplass,Katie Aselton,Bari Hyman,830.0,224.0,10.0
4895,Stories of Our Lives,Paul Ogola,Olwenya Maina,Mugambi Nthiga,147.0,19.0,4.0
4896,Breaking Upwards,Zoe Lister-Jones,Heather Burns,Ebon Moss-Bachrach,331.0,212.0,211.0
4897,All Superheroes Must Die,Sean Whalen,Jason Trost,Nick Principe,407.0,91.0,86.0
4898,Pink Flamingos,Divine,Mink Stole,Edith Massey,462.0,143.0,105.0
4899,Clean,Maggie Cheung,Béatrice Dalle,Don McKellar,576.0,133.0,45.0
4900,The Circle,Fereshteh Sadre Orafaiy,Nargess Mamizadeh,Mojgan Faramarzi,5.0,0.0,0.0
4901,Tin Can Man,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,10.0,5.0,0.0
4902,The Cure,Kôji Yakusho,Anna Nakagawa,Denden,89.0,13.0,6.0
4903,On the Downlow,Tatiana Suarez-Pico,Michael Cortez,Eric Ambriz,21.0,20.0,12.0
4904,Sanctuary; Quite a Conundrum,Julianna Pitt,Joe Coffey,John Lucas,785.0,98.0,84.0
4905,Bang,Peter Greene,Stanley B. Herman,James Noble,789.0,194.0,152.0
4906,Primer,Shane Carruth,David Sullivan,Casey Gooden,291.0,45.0,8.0
4907,Cavite,Ian Gamazon,Edgar Tancangco,Quynn Ton,0.0,0.0,0.0
4908,El Mariachi,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,121.0,20.0,6.0
4909,The Mongol King,Richard Jewell,John Considine,Sara Stepnicka,45.0,44.0,2.0
4910,Newlyweds,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,296.0,205.0,133.0
4911,Signed Sealed Delivered,Eric Mabius,Daphne Zuniga,Crystal Lowe,637.0,470.0,318.0
4912,The Following,Natalie Zea,Valorie Curry,Sam Underwood,841.0,593.0,319.0
4913,A Plague So Pleasant,Eva Boehnke,Maxwell Moody,David Chandler,0.0,0.0,0.0
4914,Shanghai Calling,Alan Ruck,Daniel Henney,Eliza Coupe,946.0,719.0,489.0
4915,My Date with Drew,John August,Brian Herzlinger,Jon Gunn,86.0,23.0,16.0

In [73]:

stubs = ['actor', 'actor_facebook_likes']
actor2_tidy = pd.wide_to_long(actor2,
    stubnames=stubs,
    i=['movie_title'],
    j='actor_num',
    sep='_')
actor2_tidy.head()

,,actor,actor_facebook_likes
movie_title,actor_num,,
Avatar,1,CCH Pounder,1000.0
Pirates of the Caribbean: At World's End,1,Johnny Depp,40000.0
Spectre,1,Christoph Waltz,11000.0
The Dark Knight Rises,1,Tom Hardy,27000.0
Star Wars: Episode VII - The Force Awakens,1,Doug Walker,131.0

In [74]:
usecol_func = lambda x: 'UGDS_' in x or x == 'INSTNM'
col=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/college.csv',index_col='INSTNM',usecols=usecol_func)

In [75]:
col.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [77]:
col_stacked=col.stack()
col_stacked

INSTNM
Alabama A & M University                           UGDS_WHITE    0.0333
                                                   UGDS_BLACK    0.9353
                                                   UGDS_HISP     0.0055
                                                   UGDS_ASIAN    0.0019
                                                   UGDS_AIAN     0.0024
                                                   UGDS_NHPI     0.0019
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0059
                                                   UGDS_UNKN     0.0138
University of Alabama at Birmingham                UGDS_WHITE    0.5922
                                                   UGDS_BLACK    0.2600
                                                   UGDS_HISP     0.0283
                                                   UGDS_ASIAN    0.0518
                                                   UGDS_AIAN     0.0022
                                                   UGDS_NHPI     0.0007
                                                   UGDS_2MOR     0.0368
                                                   UGDS_NRA      0.0179
                                                   UGDS_UNKN     0.0100
Amridge University                                 UGDS_WHITE    0.2990
                                                   UGDS_BLACK    0.4192
                                                   UGDS_HISP     0.0069
                                                   UGDS_ASIAN    0.0034
                                                   UGDS_AIAN     0.0000
                                                   UGDS_NHPI     0.0000
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.2715
University of Alabama in Huntsville                UGDS_WHITE    0.6988
                                                   UGDS_BLACK    0.1255
                                                   UGDS_HISP     0.0382
                                                                  ...
Hollywood Institute of Beauty Careers-Casselberry  UGDS_2MOR     0.0400
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0667
Coachella Valley Beauty College-Beaumont           UGDS_WHITE    0.3284
                                                   UGDS_BLACK    0.1045
                                                   UGDS_HISP     0.4925
                                                   UGDS_ASIAN    0.0149
                                                   UGDS_AIAN     0.0299
                                                   UGDS_NHPI     0.0149
                                                   UGDS_2MOR     0.0149
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0000
Dewey University-Mayaguez                          UGDS_WHITE    0.0000
                                                   UGDS_BLACK    0.0000
                                                   UGDS_HISP     1.0000
                                                   UGDS_ASIAN    0.0000
                                                   UGDS_AIAN     0.0000
                                                   UGDS_NHPI     0.0000
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0000
Coastal Pines Technical College                    UGDS_WHITE    0.6762
                                                   UGDS_BLACK    0.2508
                                                   UGDS_HISP     0.0359
                                                   UGDS_ASIAN    0.0045
                                                   UGDS_AIAN     0.0034
                                                   UGDS_NHPI     0.0017
                                                   UGDS_2MOR     0.0191
                                                   UGDS_NRA      0.0028
                                                   UGDS_UNKN     0.0056
Length: 61866, dtype: float64

In [78]:
col_stacked.unstack()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137
The University of Alabama,0.7825,0.1119,0.0348,0.0106,0.0038,0.0009,0.0261,0.0268,0.0026
Central Alabama Community College,0.7255,0.2613,0.0044,0.0025,0.0044,0.0000,0.0000,0.0000,0.0019
Athens State University,0.7823,0.1200,0.0191,0.0053,0.0157,0.0010,0.0174,0.0057,0.0334
Auburn University at Montgomery,0.5328,0.3376,0.0074,0.0221,0.0044,0.0016,0.0297,0.0397,0.0246
Auburn University,0.8507,0.0704,0.0248,0.0227,0.0074,0.0000,0.0000,0.0100,0.0140
Birmingham Southern College,0.7983,0.1102,0.0195,0.0517,0.0102,0.0000,0.0051,0.0000,0.0051
Chattahoochee Valley Community College,0.4661,0.4372,0.0492,0.0127,0.0023,0.0035,0.0151,0.0000,0.0139
Concordia College Alabama,0.0280,0.8758,0.0373,0.0093,0.0000,0.0000,0.0031,0.0466,0.0000
South University-Montgomery,0.3046,0.6054,0.0153,0.0153,0.0153,0.0096,0.0000,0.0019,0.0326
Enterprise State Community College,0.6408,0.2435,0.0509,0.0202,0.0081,0.0029,0.0254,0.0012,0.0069
James H Faulkner State Community College,0.6979,0.2259,0.0320,0.0084,0.0177,0.0014,0.0152,0.0007,0.0009
Faulkner University,0.3874,0.5137,0.0258,0.0042,0.0063,0.0013,0.0173,0.0182,0.0258
Gadsden State Community College,0.6921,0.2076,0.0305,0.0047,0.0128,0.0018,0.0185,0.0150,0.0169
New Beginning College of Cosmetology,0.8957,0.0348,0.0696,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
George C Wallace State Community College-Dothan,0.6273,0.3240,0.0221,0.0072,0.0049,0.0009,0.0126,0.0000,0.0009
George C Wallace State Community College-Hanceville,0.8630,0.0612,0.0362,0.0065,0.0089,0.0000,0.0000,0.0059,0.0183
George C Wallace State Community College-Selma,0.1956,0.7449,0.0026,0.0040,0.0013,0.0000,0.0033,0.0040,0.0443
Herzing University-Birmingham,0.3543,0.5265,0.0166,0.0066,0.0000,0.0000,0.0563,0.0000,0.0397
Huntingdon College,0.6388,0.1993,0.0252,0.0078,0.0122,0.0017,0.0261,0.0061,0.0827
Heritage Christian University,0.7419,0.1129,0.0484,0.0000,0.0323,0.0161,0.0000,0.0161,0.0323
J F Drake State Community and Technical College,0.3337,0.5965,0.0246,0.0082,0.0113,0.0010,0.0185,0.0000,0.0062
Jacksonville State University,0.6834,0.2382,0.0132,0.0055,0.0072,0.0010,0.0000,0.0234,0.0280
Jefferson Davis Community College,0.5857,0.2982,0.0077,0.0252,0.0252,0.0000,0.0184,0.0000,0.0397
Jefferson State Community College,0.6696,0.2246,0.0486,0.0183,0.0024,0.0008,0.0301,0.0054,0.0001
John C Calhoun State Community College,0.6528,0.1940,0.0435,0.0257,0.0182,0.0006,0.0428,0.0062,0.0162
...,...,...,...,...,...,...,...,...,...
Tint School of Makeup & Cosmetology-Seattle,0.5368,0.0737,0.1579,0.0737,0.0105,0.0105,0.0000,0.0105,0.1263
Centro de Estudios Multidisciplinarios-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Heritage College-Cleveland,0.3469,0.5102,0.0408,0.0204,0.0000,0.0000,0.0816,0.0000,0.0000
Aveda Institute-Phoenix,0.6364,0.0341,0.2159,0.0170,0.0455,0.0057,0.0398,0.0000,0.0057
University of North Texas at Dallas,0.1319,0.3358,0.4658,0.0209,0.0049,0.0006,0.0142,0.0129,0.0129
BridgeValley Community & Technical College,0.8967,0.0753,0.0042,0.0069,0.0154,0.0000,0.0000,0.0000,0.0016
Northwest College-Medford,0.7000,0.0000,0.2000,0.0200,0.0400,0.0200,0.0000,0.0000,0.0200
Virginia College-Fort Pierce,0.2565,0.5696,0.1043,0.0043,0.0000,0.0000,0.0043,0.0000,0.0609
Houston Training Schools-Gessner,0.0444,0.1222,0.7444,0.0889,0.0000,0.0000,0.0000,0.0000,0.0000
Empire Beauty School-Buffalo,0.4906,0.3585,0.1132,0.0000,0.0000,0.0000,0.0000,0.0000,0.0377
Paul Mitchell the School-Toledo,0.4211,0.2719,0.0526,0.0000,0.0000,0.1842,0.0351,0.0000,0.0351
MJ's Barber Academy,0.0000,0.9333,0.0667,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Trine University-Arizona Regional Campus,0.5000,0.0714,0.2500,0.0357,0.0000,0.0000,0.0357,0.0000,0.1071
Regency Beauty Institute-Gaithersburg,0.2250,0.3250,0.2750,0.0000,0.0000,0.0000,0.1750,0.0000,0.0000
Georgia Military College,0.4011,0.4460,0.0535,0.0157,0.0128,0.0032,0.0027,0.0024,0.0625
New Horizons Medical Institute-Winder,0.4175,0.5000,0.0388,0.0194,0.0000,0.0000,0.0049,0.0000,0.0194
SAE Institute of Technology-Chicago,0.2797,0.4576,0.1864,0.0085,0.0254,0.0000,0.0000,0.0085,0.0339
Beau Monde College of Hair Design-Beau Monde Academy of Cosmetology,0.6400,0.0800,0.2000,0.0800,0.0000,0.0000,0.0000,0.0000,0.0000
Fayette Beauty Academy-Ritz Beauty Academy,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Fountain of Youth Academy of Cosmetology,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
MCI Institute of Technology-Boca Raton,0.0199,0.2815,0.6854,0.0132,0.0000,0.0000,0.0000,0.0000,0.0000
West Coast University-Miami,0.1522,0.1739,0.6087,0.0217,0.0000,0.0000,0.0435,0.0000,0.0000
National American University-Houston,0.1858,0.6443,0.0672,0.0079,0.0079,0.0000,0.0751,0.0000,0.0119
Aparicio-Levy Technical College,0.2431,0.1215,0.6243,0.0055,0.0055,0.0000,0.0000,0.0000,0.0000
Fred D. Learey Technical College,0.3731,0.1388,0.3080,0.0000,0.0000,0.0000,0.0022,0.0000,0.1779
Hollywood Institute of Beauty Careers-West Palm Beach,0.2182,0.4182,0.2364,0.0182,0.0000,0.0000,0.0000,0.0182,0.0909
Hollywood Institute of Beauty Careers-Casselberry,0.1200,0.3333,0.4400,0.0000,0.0000,0.0000,0.0400,0.0000,0.0667
Coachella Valley Beauty College-Beaumont,0.3284,0.1045,0.4925,0.0149,0.0299,0.0149,0.0149,0.0000,0.0000
Dewey University-Mayaguez,0.0000,0.0000,1.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Coastal Pines Technical College,0.6762,0.2508,0.0359,0.0045,0.0034,0.0017,0.0191,0.0028,0.0056

In [79]:
col.stack(level=0)

INSTNM
Alabama A & M University                           UGDS_WHITE    0.0333
                                                   UGDS_BLACK    0.9353
                                                   UGDS_HISP     0.0055
                                                   UGDS_ASIAN    0.0019
                                                   UGDS_AIAN     0.0024
                                                   UGDS_NHPI     0.0019
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0059
                                                   UGDS_UNKN     0.0138
University of Alabama at Birmingham                UGDS_WHITE    0.5922
                                                   UGDS_BLACK    0.2600
                                                   UGDS_HISP     0.0283
                                                   UGDS_ASIAN    0.0518
                                                   UGDS_AIAN     0.0022
                                                   UGDS_NHPI     0.0007
                                                   UGDS_2MOR     0.0368
                                                   UGDS_NRA      0.0179
                                                   UGDS_UNKN     0.0100
Amridge University                                 UGDS_WHITE    0.2990
                                                   UGDS_BLACK    0.4192
                                                   UGDS_HISP     0.0069
                                                   UGDS_ASIAN    0.0034
                                                   UGDS_AIAN     0.0000
                                                   UGDS_NHPI     0.0000
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.2715
University of Alabama in Huntsville                UGDS_WHITE    0.6988
                                                   UGDS_BLACK    0.1255
                                                   UGDS_HISP     0.0382
                                                                  ...
Hollywood Institute of Beauty Careers-Casselberry  UGDS_2MOR     0.0400
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0667
Coachella Valley Beauty College-Beaumont           UGDS_WHITE    0.3284
                                                   UGDS_BLACK    0.1045
                                                   UGDS_HISP     0.4925
                                                   UGDS_ASIAN    0.0149
                                                   UGDS_AIAN     0.0299
                                                   UGDS_NHPI     0.0149
                                                   UGDS_2MOR     0.0149
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0000
Dewey University-Mayaguez                          UGDS_WHITE    0.0000
                                                   UGDS_BLACK    0.0000
                                                   UGDS_HISP     1.0000
                                                   UGDS_ASIAN    0.0000
                                                   UGDS_AIAN     0.0000
                                                   UGDS_NHPI     0.0000
                                                   UGDS_2MOR     0.0000
                                                   UGDS_NRA      0.0000
                                                   UGDS_UNKN     0.0000
Coastal Pines Technical College                    UGDS_WHITE    0.6762
                                                   UGDS_BLACK    0.2508
                                                   UGDS_HISP     0.0359
                                                   UGDS_ASIAN    0.0045
                                                   UGDS_AIAN     0.0034
                                                   UGDS_NHPI     0.0017
                                                   UGDS_2MOR     0.0191
                                                   UGDS_NRA      0.0028
                                                   UGDS_UNKN     0.0056
Length: 61866, dtype: float64

In [82]:
col.stack().unstack(0)

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,MCI Institute of Technology-Boca Raton,West Coast University-Miami,National American University-Houston,Aparicio-Levy Technical College,Fred D. Learey Technical College,Hollywood Institute of Beauty Careers-West Palm Beach,Hollywood Institute of Beauty Careers-Casselberry,Coachella Valley Beauty College-Beaumont,Dewey University-Mayaguez,Coastal Pines Technical College
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,0.0199,0.1522,0.1858,0.2431,0.3731,0.2182,0.1200,0.3284,0.0,0.6762
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,0.2815,0.1739,0.6443,0.1215,0.1388,0.4182,0.3333,0.1045,0.0,0.2508
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,0.6854,0.6087,0.0672,0.6243,0.3080,0.2364,0.4400,0.4925,1.0,0.0359
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,0.0132,0.0217,0.0079,0.0055,0.0000,0.0182,0.0000,0.0149,0.0,0.0045
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,0.0000,0.0000,0.0079,0.0055,0.0000,0.0000,0.0000,0.0299,0.0,0.0034
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0149,0.0,0.0017
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,0.0000,0.0435,0.0751,0.0000,0.0022,0.0000,0.0400,0.0149,0.0,0.0191
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0182,0.0000,0.0000,0.0,0.0028
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,0.0000,0.0000,0.0119,0.0000,0.1779,0.0909,0.0667,0.0000,0.0,0.0056

In [83]:
col.T

INSTNM,Alabama A & M University,University of Alabama at Birmingham,Amridge University,University of Alabama in Huntsville,Alabama State University,The University of Alabama,Central Alabama Community College,Athens State University,Auburn University at Montgomery,Auburn University,...,Strayer University-North Dallas,Strayer University-San Antonio,Strayer University-Stafford,WestMed College - Merced,Vantage College,SAE Institute of Technology San Francisco,Rasmussen College - Overland Park,National Personal Training Institute of Cleveland,Bay Area Medical Academy - San Jose Satellite Location,Excel Learning Center-San Antonio South
UGDS_WHITE,0.0333,0.5922,0.2990,0.6988,0.0158,0.7825,0.7255,0.7823,0.5328,0.8507,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_BLACK,0.9353,0.2600,0.4192,0.1255,0.9208,0.1119,0.2613,0.1200,0.3376,0.0704,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_HISP,0.0055,0.0283,0.0069,0.0382,0.0121,0.0348,0.0044,0.0191,0.0074,0.0248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_ASIAN,0.0019,0.0518,0.0034,0.0376,0.0019,0.0106,0.0025,0.0053,0.0221,0.0227,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_AIAN,0.0024,0.0022,0.0000,0.0143,0.0010,0.0038,0.0044,0.0157,0.0044,0.0074,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NHPI,0.0019,0.0007,0.0000,0.0002,0.0006,0.0009,0.0000,0.0010,0.0016,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_2MOR,0.0000,0.0368,0.0000,0.0172,0.0098,0.0261,0.0000,0.0174,0.0297,0.0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_NRA,0.0059,0.0179,0.0000,0.0332,0.0243,0.0268,0.0000,0.0057,0.0397,0.0100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UGDS_UNKN,0.0138,0.0100,0.2715,0.0350,0.0137,0.0026,0.0019,0.0334,0.0246,0.0140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
emp=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/employee.csv')

In [85]:
emp.groupby('RACE')['BASE_SALARY'].mean()

RACE
American Indian or Alaskan Native    60272.100000
Asian/Pacific Islander               61660.304762
Black or African American            50137.801493
Hispanic/Latino                      52345.562771
Others                               51278.000000
White                                64419.799012
Name: BASE_SALARY, dtype: float64

In [92]:
emp.groupby(['RACE','GENDER'])['BASE_SALARY'].mean().astype(int).unstack('GENDER')

GENDER                             Female   Male
RACE
American Indian or Alaskan Native   60238  60305
Asian/Pacific Islander              63226  61033
Black or African American           48915  51082
Hispanic/Latino                     46503  54782
Others                              63785  38771
White                               66793  63940

In [93]:
emp.groupby(['RACE','GENDER'])['BASE_SALARY'].mean().astype(int).unstack('RACE')

RACE,American Indian or Alaskan Native,Asian/Pacific Islander,Black or African American,Hispanic/Latino,Others,White
GENDER,,,,,,
Female,60238,63226,48915,46503,63785,66793
Male,60305,61033,51082,54782,38771,63940

In [95]:
emp.groupby(['RACE','GENDER'])['BASE_SALARY'].agg(['mean','min','max']).unstack('GENDER')

                                           mean                    min  \
GENDER                                   Female          Male   Female
RACE
American Indian or Alaskan Native  60238.800000  60305.400000  26125.0
Asian/Pacific Islander             63226.300000  61033.906667  26125.0
Black or African American          48915.421233  51082.074074  24960.0
Hispanic/Latino                    46503.316176  54782.819018  26125.0
Others                             63785.000000  38771.000000  63785.0
White                              66793.352941  63940.388119  27955.0

                                                 max
GENDER                                Male    Female      Male
RACE
American Indian or Alaskan Native  26125.0   98536.0   81239.0
Asian/Pacific Islander             27914.0  130416.0  163228.0
Black or African American          26125.0  150416.0  275000.0
Hispanic/Latino                    26104.0  126115.0  165216.0
Others                             38771.0   63785.0   38771.0
White                              26125.0  178331.0  210588.0

In [96]:
flight=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/flights.csv')

In [98]:
fltp=flight.pivot_table(index='AIRLINE',columns='ORG_AIR',values='CANCELLED',aggfunc='sum',fill_value=0)

In [99]:
fltp

ORG_AIR  ATL  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA         3    4   86    3    3   11    3   35    4    2
AS         0    0    0    0    0    0    0    0    0    0
B6         0    0    0    0    0    0    0    0    0    1
DL        28    1    0    0    1    1    4    0    1    2
EV        18    6   27   36    0    0    6   53    0    0
F9         0    2    1    0    1    1    1    4    0    0
HA         0    0    0    0    0    0    0    0    0    0
MQ         5    0   62    0    0    0    0   85    0    0
NK         1    1    6    0    1    1    3   10    2    0
OO         3   25    2   10    0   15    4   41    9   33
UA         2    9    1   23    3    6    2   25    3   19
US         0    0    2    2    1    0    0    6    7    3
VX         0    0    0    0    0    3    0    0    0    3
WN         9   13    0    0    7   32    1    0    6   25

In [101]:
flight.groupby(['AIRLINE','ORG_AIR'])['CANCELLED'].agg('sum')

AIRLINE  ORG_AIR
AA       ATL         3
         DEN         4
         DFW        86
         IAH         3
         LAS         3
         LAX        11
         MSP         3
         ORD        35
         PHX         4
         SFO         2
AS       ATL         0
         DEN         0
         DFW         0
         IAH         0
         LAS         0
         LAX         0
         MSP         0
         ORD         0
         PHX         0
         SFO         0
B6       DEN         0
         DFW         0
         LAS         0
         LAX         0
         ORD         0
         PHX         0
         SFO         1
DL       ATL        28
         DEN         1
         DFW         0
                    ..
UA       DEN         9
         DFW         1
         IAH        23
         LAS         3
         LAX         6
         MSP         2
         ORD        25
         PHX         3
         SFO        19
US       ATL         0
         DEN         0
         DFW         2
         IAH         2
         LAS         1
         LAX         0
         MSP         0
         ORD         6
         PHX         7
         SFO         3
VX       LAS         0
         LAX         3
         ORD         0
         SFO         3
WN       ATL         9
         DEN        13
         LAS         7
         LAX        32
         MSP         1
         PHX         6
         SFO        25
Name: CANCELLED, Length: 114, dtype: int64

In [102]:
flight.groupby(['AIRLINE','ORG_AIR'])['CANCELLED'].agg('sum').unstack('ORG_AIR',fill_value=0)

ORG_AIR  ATL  DEN  DFW  IAH  LAS  LAX  MSP  ORD  PHX  SFO
AIRLINE
AA         3    4   86    3    3   11    3   35    4    2
AS         0    0    0    0    0    0    0    0    0    0
B6         0    0    0    0    0    0    0    0    0    1
DL        28    1    0    0    1    1    4    0    1    2
EV        18    6   27   36    0    0    6   53    0    0
F9         0    2    1    0    1    1    1    4    0    0
HA         0    0    0    0    0    0    0    0    0    0
MQ         5    0   62    0    0    0    0   85    0    0
NK         1    1    6    0    1    1    3   10    2    0
OO         3   25    2   10    0   15    4   41    9   33
UA         2    9    1   23    3    6    2   25    3   19
US         0    0    2    2    1    0    0    6    7    3
VX         0    0    0    0    0    3    0    0    0    3
WN         9   13    0    0    7   32    1    0    6   25

In [104]:
flight.pivot_table(index=['AIRLINE','MONTH'],columns=['ORG_AIR','CANCELLED'],values=['DEP_DELAY','DIST'],aggfunc=['sum','mean'],fill_value=0)

                    sum                                              ...       \
              DEP_DELAY                                              ...
ORG_AIR             ATL      DEN      DFW      IAH        LAS        ...
CANCELLED             0  1     0  1     0  1     0    1     0  1     ...
AIRLINE MONTH                                                        ...
AA      1           -13  0   113  0  4276 -3   117    0  1036  0     ...
        2           -39  0    71  0  2662  0     8    0   -55  0     ...
        3            -2  0    69  0  5692  0   109    0   326  0     ...
        4             1  0   304  0  3518  0   104    0   790  0     ...
        5            52  0   352  0  5510  0    55    0    93  0     ...
        6            96  0    11  0  6557  0   543    0   883  0     ...
        7           575  0    80  0  4461  0  1015    0   330  0     ...
        8           132  0   588  0  3773  0   139    0   226  0     ...
        9           383  0   116  0  2411  0    45    0   -74  0     ...
        11          258  0   404  0  3496  0   130    0   299  0     ...
        12          396  0   121  0  2380  0   253    0   -15  0     ...
AS      1             0  0   -17  0    -6  0     0    0   105  0     ...
        2             1  0   -15  0    16  0     0    0   654  0     ...
        3            -2  0   -36  0    14  0     0    0   -53  0     ...
        4             7  0   -15  0    12  0     8    0   -62  0     ...
        5            68  0     4  0    90  0   -15    0   102  0     ...
        6             0  0    29  0     2  0   -13    0   -54  0     ...
        7             0  0    16  0   -31  0    -9    0   -55  0     ...
        8            41  0   -40  0    13  0     0    0  -101  0     ...
        9             0  0    -7  0   -25  0    -6    0   -26  0     ...
        11           -3  0   -24  0   -14  0     0    0   -86  0     ...
        12           87  0   -25  0    57  0   -13    0   -72  0     ...
B6      1             0  0     9  0    -1  0     0    0   236  0     ...
        2             0  0    71  0    63  0     0    0    91  0     ...
        3             0  0    62  0     0  0     0    0   136  0     ...
        4             0  0   -15  0    -7  0     0    0   -17  0     ...
        5             0  0    15  0    -8  0     0    0    13  0     ...
        6             0  0    67  0    21  0     0    0   194  0     ...
        7             0  0     0  0     0  0     0    0   225  0     ...
        8             0  0    38  0    63  0     0    0   226  0     ...
...                 ... ..   ... ..   ... ..   ...  ...   ... ..     ...
UA      11          186  0   983  0   -17  0  1940    0   466  0     ...
        12          350  0  2515  0   136  0  2885  227   852  0     ...
US      1           -38  0     3  0    47  0   -52    0   -75  0     ...
        2            -3  0    59  0    20  0    22    0   -56  0     ...
        3           -40  0    29  0   140  0   -58    0   -29  0     ...
        4           -26  0   -75  0   108  0    50    0   -17  0     ...
        5           128  0    87  0    35  0   -27    0   -51  0     ...
        6           125  0   -27  0   255  0   -19    0   -12  0     ...
VX      1             0  0     0  0     0  0     0    0    26  0     ...
        2             0  0     0  0     0  0     0    0   107  0     ...
        3             0  0     0  0     0  0     0    0     4  0     ...
        4             0  0     0  0     0  0     0    0    93  0     ...
        5             0  0     0  0     0  0     0    0    80  0     ...
        6             0  0     0  0     0  0     0    0    47  0     ...
        7             0  0     0  0     0  0     0    0   239  0     ...
        8             0  0     0  0     0  0     0    0    22  0     ...
        9             0  0     0  0     0  0     0    0   -14  0     ...
        11            0  0     0  0     0  0     0    0    38  0     ...
        12            0  0     0  0     0  0     0    0    24  0     ...
WN      1           894  0  1827  0     0  0     0    0  1512  0     ...
        2           714  0  1364  0     0  0     0    0  1058  0     ...
        3          1170  0  1909  0     0  0     0    0  2280  0     ...
        4          1240  0  1882  0     0  0     0    0  1993  0     ...
        5          1964  0  2094 -2     0  0     0    0  2271  0     ...
        6          2533  0  2427  0     0  0     0    0  3123  0     ...
        7          2604  0  1919  0     0  0     0    0  4600  0     ...
        8          1718  0  1180  0     0  0     0    0  3151  0     ...
        9          1033  0   705  0     0  0     0    0  1400  0     ...
        11          700  0  1372  0     0  0     0    0  1309  0     ...
        12         1679  0  1898  0     0  0     0    0  2327  0     ...

                      mean                                                \
                      DIST
ORG_AIR                LAX                       MSP                 ORD
CANCELLED                0            1            0      1            0
AIRLINE MONTH
AA      1      1678.037037  2475.000000   809.000000    0.0  1068.876033
        2      1745.892308  1818.000000  1008.000000    0.0  1193.782178
        3      1781.567568  1744.000000   964.733333    0.0  1058.933333
        4      1850.923913     0.000000   648.714286    0.0  1094.633094
        5      1820.478261     0.000000   787.250000    0.0   998.774775
        6      1761.711111     0.000000   884.750000    0.0  1181.646259
        7      1814.085106     0.000000   993.578947  980.0  1073.920245
        8      1650.580357  2150.000000   874.529412    0.0  1034.883871
        9      1777.532468  1235.000000   830.300000    0.0   998.514286
        11     1559.305263  1744.000000   846.136364  930.0  1002.088889
        12     1829.284314  2115.000000   883.666667  334.0  1080.720930
AS      1       984.176471     0.000000  1399.000000    0.0  2096.000000
        2      1022.421053     0.000000     0.000000    0.0  1721.000000
        3       905.840000     0.000000  1399.000000    0.0  1725.500000
        4      1115.347826     0.000000     0.000000    0.0  2006.750000
        5      1023.500000     0.000000  1399.000000    0.0  1863.875000
        6      1088.275862     0.000000  1399.000000    0.0  1724.600000
        7       975.588235     0.000000     0.000000    0.0  2104.000000
        8      1073.250000     0.000000     0.000000    0.0  1721.000000
        9       967.468750     0.000000  1399.000000    0.0  1724.600000
        11     1111.695652     0.000000  1399.000000    0.0  1733.000000
        12      961.850000     0.000000  1399.000000    0.0  2102.000000
B6      1      2456.428571     0.000000     0.000000    0.0   790.800000
        2      2475.600000     0.000000     0.000000    0.0   803.500000
        3      2430.666667     0.000000     0.000000    0.0  1298.200000
        4      2449.000000     0.000000     0.000000    0.0   782.333333
        5      2487.727273     0.000000     0.000000    0.0  1023.333333
        6      2501.250000     0.000000     0.000000    0.0  1004.333333
        7      2486.076923     0.000000     0.000000    0.0   941.909091
        8      2504.142857     0.000000     0.000000    0.0  1226.333333
...                    ...          ...          ...    ...          ...
UA      11     1724.073529     0.000000   751.882353    0.0  1060.460123
        12     1715.671875     0.000000   740.333333    0.0  1092.473333
US      1      1789.666667     0.000000  1074.615385    0.0   963.050000
        2      1804.375000     0.000000  1024.833333    0.0   867.100000
        3      1788.083333     0.000000  1060.714286    0.0   845.777778
        4      1760.500000     0.000000  1113.714286    0.0   914.444444
        5      1820.954545     0.000000  1014.200000    0.0   829.000000
        6      1363.000000     0.000000  1056.444444    0.0   937.947368
VX      1      1291.750000     0.000000     0.000000    0.0  1744.000000
        2      1277.764706  2532.500000     0.000000    0.0  1846.000000
        3      1530.538462     0.000000     0.000000    0.0     0.000000
        4      1514.743590   236.000000     0.000000    0.0  1778.000000
        5      1568.030303     0.000000     0.000000    0.0  1846.000000
        6      1572.242424     0.000000     0.000000    0.0  1805.200000
        7      1102.259259     0.000000     0.000000    0.0  1795.000000
        8      1192.000000     0.000000     0.000000    0.0  1778.000000
        9      1858.540541     0.000000     0.000000    0.0  1846.000000
        11     1346.621622     0.000000     0.000000    0.0  1846.000000
        12     1283.250000     0.000000     0.000000    0.0  1825.600000
WN      1       821.336735   512.000000   669.833333  349.0     0.000000
        2       741.121951   526.000000   549.636364    0.0     0.000000
        3       721.775510   337.000000   640.062500    0.0     0.000000
        4       750.638298   322.500000   658.590909    0.0     0.000000
        5       867.231481   236.000000   446.722222    0.0     0.000000
        6       855.044643     0.000000   693.750000    0.0     0.000000
        7       912.453704   327.777778   647.266667    0.0     0.000000
        8       835.404040   346.000000   508.703704    0.0     0.000000
        9       830.210000   317.666667   644.416667    0.0     0.000000
        11      748.404040   459.333333   573.642857    0.0     0.000000
        12      811.695238  1067.000000   634.736842    0.0     0.000000



ORG_AIR                             PHX                       SFO
CANCELLED                1            0            1            0            1
AIRLINE MONTH
AA      1         0.000000  1167.666667     0.000000  1860.166667     0.000000
        2       771.142857  1311.461538   868.000000  1337.916667  2586.000000
        3       802.000000  1171.363636     0.000000  1502.758621     0.000000
        4       943.600000  1266.214286     0.000000  1646.903226     0.000000
        5       999.500000  1240.444444     0.000000  1436.892857     0.000000
        6      1033.000000  1489.571429     0.000000  1671.517241     0.000000
        7      1330.333333  1163.835165  1494.000000  1771.000000   337.000000
        8      1168.000000  1198.901961  2979.000000  1735.020833     0.000000
        9         0.000000  1161.489510     0.000000  1770.540541     0.000000
        11      714.000000  1121.411765     0.000000  1597.325000     0.000000
        12      954.000000  1212.454545     0.000000  1765.564103     0.000000
AS      1         0.000000  1588.666667     0.000000   636.000000     0.000000
        2         0.000000  1107.000000     0.000000   621.500000     0.000000
        3         0.000000  1090.666667     0.000000   620.363636     0.000000
        4         0.000000  1271.428571     0.000000   629.333333     0.000000
        5         0.000000  1045.750000     0.000000   579.769231     0.000000
        6         0.000000  1107.000000     0.000000   621.666667     0.000000
        7         0.000000  1082.500000     0.000000   570.636364     0.000000
        8         0.000000  1082.500000     0.000000   558.909091     0.000000
        9         0.000000  1107.000000     0.000000   607.153846     0.000000
        11        0.000000  1058.000000     0.000000   613.090909     0.000000
        12        0.000000  1077.600000     0.000000   636.545455     0.000000
B6      1         0.000000  2202.000000     0.000000  1575.733333  2704.000000
        2         0.000000  2300.000000     0.000000  2198.300000     0.000000
        3         0.000000  2300.000000     0.000000  1645.642857     0.000000
        4         0.000000  2182.400000     0.000000  1835.285714     0.000000
        5         0.000000     0.000000     0.000000  2102.461538     0.000000
        6         0.000000     0.000000     0.000000  1771.000000     0.000000
        7         0.000000     0.000000     0.000000  1559.866667     0.000000
        8         0.000000     0.000000     0.000000  2255.846154     0.000000
...                    ...          ...          ...          ...          ...
UA      11      864.000000  1130.777778     0.000000  1438.823529   337.000000
        12      898.333333  1134.583333     0.000000  1686.180328  2446.000000
US      1         0.000000  1088.168067  2187.500000  1561.588235   651.000000
        2       638.500000  1231.360360  1495.666667  1908.727273     0.000000
        3       678.000000  1180.205882  2917.000000  2099.181818  2521.000000
        4         0.000000  1163.559748  2917.000000  1890.285714     0.000000
        5       678.000000  1093.541401     0.000000  1354.000000     0.000000
        6         0.000000  1208.267857     0.000000  2059.333333     0.000000
VX      1         0.000000     0.000000     0.000000   978.976190  2704.000000
        2         0.000000     0.000000     0.000000  1099.555556   679.000000
        3         0.000000     0.000000     0.000000  1280.155556     0.000000
        4         0.000000     0.000000     0.000000  1123.642857     0.000000
        5         0.000000     0.000000     0.000000  1358.552632     0.000000
        6         0.000000     0.000000     0.000000  1079.372549     0.000000
        7         0.000000     0.000000     0.000000  1475.634146   337.000000
        8         0.000000     0.000000     0.000000  1176.369565     0.000000
        9         0.000000     0.000000     0.000000  1208.116279     0.000000
        11        0.000000     0.000000     0.000000  1209.150000     0.000000
        12        0.000000     0.000000     0.000000  1218.905660     0.000000
WN      1         0.000000   812.300699     0.000000   714.800000   337.000000
        2         0.000000   788.889655   886.000000   715.026316   388.000000
        3         0.000000   819.783951   651.000000   600.750000     0.000000
        4         0.000000   794.147239   255.000000   685.222222   392.000000
        5         0.000000   786.056250     0.000000   703.244898   392.000000
        6         0.000000   829.653631     0.000000   721.125000   361.166667
        7         0.000000   799.160256   369.000000   636.210526     0.000000
        8         0.000000   891.569767     0.000000   644.857143   392.000000
        9         0.000000   872.840000     0.000000   731.578947   354.500000
        11        0.000000   823.258741   872.000000   580.875000   392.000000
        12        0.000000   778.420690     0.000000   782.256410     0.000000

[149 rows x 80 columns]

In [106]:
flight.groupby(['AIRLINE','ORG_AIR','MONTH','CANCELLED'])[['DEP_DELAY','DIST']].agg(['mean','sum']).unstack(['ORG_AIR','CANCELLED'],fill_value=0).swaplevel(0,1,axis='columns')

                    mean                                                 \
               DEP_DELAY
ORG_AIR              ATL            DEN             DFW             IAH
CANCELLED              0   1          0    1          0    1          0
AIRLINE MONTH
AA      1      -3.250000 NaN   7.062500  NaN  11.977591 -3.0   9.750000
        2      -3.000000 NaN   5.461538  NaN   8.756579  NaN   1.000000
        3      -0.166667 NaN   7.666667  NaN  15.383784  NaN  10.900000
        4       0.071429 NaN  20.266667  NaN  10.501493  NaN   6.933333
        5       5.777778 NaN  23.466667  NaN  16.798780  NaN   3.055556
        6       6.400000 NaN   0.916667  NaN  16.727041  NaN  77.571429
        7      15.131579 NaN   3.478261  NaN  11.014815  NaN  37.592593
        8       3.473684 NaN  21.000000  NaN  10.688385  NaN   4.483871
        9      14.730769 NaN   3.135135  NaN   6.166240  NaN   2.142857
        11      8.600000 NaN  16.833333  NaN  10.222222  NaN   5.200000
        12     12.774194 NaN   5.260870  NaN   6.938776  NaN  13.315789
AS      1            NaN NaN  -3.400000  NaN  -1.200000  NaN   0.000000
        2       0.500000 NaN  -5.000000  NaN   3.200000  NaN        NaN
        3      -2.000000 NaN -12.000000  NaN   3.500000  NaN        NaN
        4       3.500000 NaN  -3.750000  NaN   2.000000  NaN   8.000000
        5      17.000000 NaN   1.000000  NaN  22.500000  NaN -15.000000
        6            NaN NaN   4.142857  NaN   0.500000  NaN -13.000000
        7            NaN NaN   1.600000  NaN  -7.750000  NaN  -9.000000
        8      41.000000 NaN  -8.000000  NaN   2.600000  NaN        NaN
        9            NaN NaN  -3.500000  NaN  -8.333333  NaN  -6.000000
        11     -3.000000 NaN  -6.000000  NaN  -7.000000  NaN        NaN
        12     43.500000 NaN  -8.333333  NaN  11.400000  NaN -13.000000
B6      1            NaN NaN   4.500000  NaN  -0.500000  NaN        NaN
        2            NaN NaN  23.666667  NaN  31.500000  NaN        NaN
        3            NaN NaN  31.000000  NaN        NaN  NaN        NaN
        4            NaN NaN  -3.750000  NaN  -7.000000  NaN        NaN
        5            NaN NaN   7.500000  NaN  -1.600000  NaN        NaN
        6            NaN NaN  22.333333  NaN  10.500000  NaN        NaN
        7            NaN NaN        NaN  NaN        NaN  NaN        NaN
        8            NaN NaN  12.666667  NaN  63.000000  NaN        NaN
...                  ...  ..        ...  ...        ...  ...        ...
UA      11     23.250000 NaN   7.927419  NaN  -5.666667  NaN  13.379310
        12     43.750000 NaN  19.053030  NaN  15.111111  NaN  19.896552
US      1      -4.222222 NaN   0.333333  NaN   1.958333  NaN  -5.200000
        2      -0.500000 NaN   6.555556  NaN   1.538462  NaN   1.466667
        3      -2.666667 NaN   2.416667  NaN   7.000000  NaN  -4.461538
        4      -3.250000 NaN  -5.357143  NaN   8.307692  NaN   8.333333
        5       8.533333 NaN   7.909091  NaN   1.842105  NaN  -3.000000
        6      11.363636 NaN  -2.700000  NaN  15.000000  NaN  -0.904762
VX      1            NaN NaN        NaN  NaN        NaN  NaN        NaN
        2            NaN NaN        NaN  NaN        NaN  NaN        NaN
        3            NaN NaN        NaN  NaN        NaN  NaN        NaN
        4            NaN NaN        NaN  NaN        NaN  NaN        NaN
        5            NaN NaN        NaN  NaN        NaN  NaN        NaN
        6            NaN NaN        NaN  NaN        NaN  NaN        NaN
        7            NaN NaN        NaN  NaN        NaN  NaN        NaN
        8            NaN NaN        NaN  NaN        NaN  NaN        NaN
        9            NaN NaN        NaN  NaN        NaN  NaN        NaN
        11           NaN NaN        NaN  NaN        NaN  NaN        NaN
        12           NaN NaN        NaN  NaN        NaN  NaN        NaN
WN      1       8.764706 NaN  14.273438  NaN        NaN  NaN        NaN
        2       7.285714 NaN  13.504950  NaN        NaN  NaN        NaN
        3      10.733945 NaN  13.075342  NaN        NaN  NaN        NaN
        4      11.376147 NaN  14.703125  NaN        NaN  NaN        NaN
        5      15.224806 NaN  13.509677 -2.0        NaN  NaN        NaN
        6      22.819820 NaN  16.398649  NaN        NaN  NaN        NaN
        7      21.700000 NaN  13.143836  NaN        NaN  NaN        NaN
        8      16.207547 NaN   7.375000  NaN        NaN  NaN        NaN
        9       8.680672 NaN   4.378882  NaN        NaN  NaN        NaN
        11      5.932203 NaN   8.215569  NaN        NaN  NaN        NaN
        12     15.691589 NaN  12.166667  NaN        NaN  NaN        NaN

                                      ...         sum                          \
                                      ...        DIST
ORG_AIR                     LAS       ...         LAX              MSP
CANCELLED          1          0   1   ...           0       1        0      1
AIRLINE MONTH                         ...
AA      1        NaN  32.375000 NaN   ...    135921.0  2475.0   7281.0    NaN
        2        NaN  -3.055556 NaN   ...    113483.0  5454.0   5040.0    NaN
        3        NaN  12.074074 NaN   ...    131836.0  1744.0  14471.0    NaN
        4        NaN  27.241379 NaN   ...    170285.0     NaN   4541.0    NaN
        5        NaN   2.818182 NaN   ...    167484.0     NaN   6298.0    NaN
        6        NaN  38.391304 NaN   ...    158554.0     NaN   3539.0    NaN
        7        NaN   7.500000 NaN   ...    170524.0     NaN  18878.0  980.0
        8        NaN   5.650000 NaN   ...    184865.0  4300.0  14867.0    NaN
        9        NaN  -2.055556 NaN   ...    136870.0  1235.0  16606.0    NaN
        11       NaN   6.644444 NaN   ...    148134.0  1744.0  18615.0  930.0
        12       NaN  -0.340909 NaN   ...    186587.0  4230.0  15906.0  334.0
AS      1        NaN   5.833333 NaN   ...     16731.0     NaN   2798.0    NaN
        2        NaN  72.666667 NaN   ...     19426.0     NaN      NaN    NaN
        3        NaN  -5.300000 NaN   ...     22646.0     NaN   1399.0    NaN
        4        NaN  -4.769231 NaN   ...     25653.0     NaN      NaN    NaN
        5        NaN  14.571429 NaN   ...     24564.0     NaN   5596.0    NaN
        6        NaN  -4.909091 NaN   ...     31560.0     NaN   2798.0    NaN
        7        NaN  -9.166667 NaN   ...     33170.0     NaN      NaN    NaN
        8        NaN  -6.733333 NaN   ...     17172.0     NaN      NaN    NaN
        9        NaN  -3.714286 NaN   ...     30959.0     NaN   1399.0    NaN
        11       NaN  -7.166667 NaN   ...     25569.0     NaN   5596.0    NaN
        12       NaN  -5.538462 NaN   ...     19237.0     NaN   1399.0    NaN
B6      1        NaN  19.666667 NaN   ...     17195.0     NaN      NaN    NaN
        2        NaN   6.500000 NaN   ...     24756.0     NaN      NaN    NaN
        3        NaN  19.428571 NaN   ...     14584.0     NaN      NaN    NaN
        4        NaN  -2.428571 NaN   ...     24490.0     NaN      NaN    NaN
        5        NaN   1.444444 NaN   ...     27365.0     NaN      NaN    NaN
        6        NaN  12.125000 NaN   ...     40020.0     NaN      NaN    NaN
        7        NaN  17.307692 NaN   ...     32319.0     NaN      NaN    NaN
        8        NaN  16.142857 NaN   ...     35058.0     NaN      NaN    NaN
...              ...        ...  ..   ...         ...     ...      ...    ...
UA      11       NaN  14.562500 NaN   ...    117237.0     NaN  12782.0    NaN
        12     227.0  26.625000 NaN   ...    109803.0     NaN   4442.0    NaN
US      1        NaN  -5.357143 NaN   ...     32214.0     NaN  13970.0    NaN
        2        NaN  -5.090909 NaN   ...     28870.0     NaN  12298.0    NaN
        3        NaN  -1.933333 NaN   ...     21457.0     NaN  14850.0    NaN
        4        NaN  -1.062500 NaN   ...     42252.0     NaN  15592.0    NaN
        5        NaN  -3.642857 NaN   ...     40061.0     NaN  10142.0    NaN
        6        NaN  -0.750000 NaN   ...     27260.0     NaN   9508.0    NaN
VX      1        NaN   2.600000 NaN   ...     41336.0     NaN      NaN    NaN
        2        NaN  13.375000 NaN   ...     43444.0  5065.0      NaN    NaN
        3        NaN   0.500000 NaN   ...     39794.0     NaN      NaN    NaN
        4        NaN   8.454545 NaN   ...     59075.0   236.0      NaN    NaN
        5        NaN   6.153846 NaN   ...     51745.0     NaN      NaN    NaN
        6        NaN   4.272727 NaN   ...     51884.0     NaN      NaN    NaN
        7        NaN  23.900000 NaN   ...     29761.0     NaN      NaN    NaN
        8        NaN   2.200000 NaN   ...     38144.0     NaN      NaN    NaN
        9        NaN  -1.750000 NaN   ...     68766.0     NaN      NaN    NaN
        11       NaN   3.800000 NaN   ...     49825.0     NaN      NaN    NaN
        12       NaN   3.000000 NaN   ...     41064.0     NaN      NaN    NaN
WN      1        NaN   9.692308 NaN   ...     80491.0  1536.0  16076.0  349.0
        2        NaN   6.696203 NaN   ...     60772.0  1052.0  12092.0    NaN
        3        NaN  11.515152 NaN   ...     70734.0  1011.0  10241.0    NaN
        4        NaN  11.323864 NaN   ...     70560.0   645.0  14489.0    NaN
        5        NaN  11.766839 NaN   ...     93661.0   236.0   8041.0    NaN
        6        NaN  17.350000 NaN   ...     95765.0     NaN  13875.0    NaN
        7        NaN  22.439024 NaN   ...     98545.0  2950.0  19418.0    NaN
        8        NaN  16.158974 NaN   ...     82705.0  1384.0  13735.0    NaN
        9        NaN   7.179487 NaN   ...     83021.0   953.0  15466.0    NaN
        11       NaN   7.522989 NaN   ...     74092.0  1378.0   8031.0    NaN
        12       NaN  11.994845 NaN   ...     85228.0  2134.0  12060.0    NaN



ORG_AIR             ORD               PHX               SFO
CANCELLED             0       1         0       1         0       1
AIRLINE MONTH
AA      1      129334.0     NaN   21018.0     NaN   33483.0     NaN
        2      120572.0  5398.0   17049.0   868.0   32110.0  2586.0
        3      127072.0   802.0   25770.0     NaN   43580.0     NaN
        4      152154.0  4718.0   17727.0     NaN   51054.0     NaN
        5      110864.0  1999.0   11164.0     NaN   40233.0     NaN
        6      173702.0  4132.0   20854.0     NaN   48474.0     NaN
        7      175049.0  3991.0  211818.0  2988.0   70840.0   337.0
        8      160407.0  3504.0  183432.0  2979.0   83281.0     NaN
        9      139792.0     NaN  166093.0     NaN   65510.0     NaN
        11     135282.0  4284.0  171576.0     NaN   63893.0     NaN
        12     139413.0  3816.0  186718.0     NaN   68857.0     NaN
AS      1        6288.0     NaN    4766.0     NaN    7632.0     NaN
        2        6884.0     NaN    5535.0     NaN    8701.0     NaN
        3        6902.0     NaN    6544.0     NaN    6824.0     NaN
        4        8027.0     NaN    8900.0     NaN    7552.0     NaN
        5       14911.0     NaN    8366.0     NaN    7537.0     NaN
        6        8623.0     NaN    8856.0     NaN   11190.0     NaN
        7       18936.0     NaN    4330.0     NaN    6277.0     NaN
        8        6884.0     NaN    4330.0     NaN    6148.0     NaN
        9        8623.0     NaN    5535.0     NaN    7893.0     NaN
        11       5199.0     NaN    4232.0     NaN    6744.0     NaN
        12       6306.0     NaN   10776.0     NaN    7002.0     NaN
B6      1        3954.0     NaN    6606.0     NaN   23636.0  2704.0
        2        3214.0     NaN    6900.0     NaN   21983.0     NaN
        3        6491.0     NaN    2300.0     NaN   23039.0     NaN
        4        2347.0     NaN   10912.0     NaN   25694.0     NaN
        5       15350.0     NaN       NaN     NaN   27332.0     NaN
        6        6026.0     NaN       NaN     NaN   28336.0     NaN
        7       10361.0     NaN       NaN     NaN   23398.0     NaN
        8        7358.0     NaN       NaN     NaN   29326.0     NaN
...                 ...     ...       ...     ...       ...     ...
UA      11     172855.0   864.0   20354.0     NaN  171220.0   337.0
        12     163871.0  2695.0   13615.0     NaN  205714.0  2446.0
US      1       19261.0     NaN  129492.0  4375.0   26547.0   651.0
        2        8671.0  1277.0  136681.0  4487.0   20996.0     NaN
        3       15224.0  2034.0  160508.0  2917.0   23091.0  5042.0
        4       16460.0     NaN  185006.0  2917.0   13232.0     NaN
        5        9948.0   678.0  171686.0     NaN   13540.0     NaN
        6       17821.0     NaN  202989.0     NaN   24712.0     NaN
VX      1        1744.0     NaN       NaN     NaN   41117.0  2704.0
        2        1846.0     NaN       NaN     NaN   39584.0   679.0
        3           NaN     NaN       NaN     NaN   57607.0     NaN
        4        5334.0     NaN       NaN     NaN   47193.0     NaN
        5        7384.0     NaN       NaN     NaN   51625.0     NaN
        6        9026.0     NaN       NaN     NaN   55048.0     NaN
        7       14360.0     NaN       NaN     NaN   60501.0   337.0
        8        5334.0     NaN       NaN     NaN   54113.0     NaN
        9        1846.0     NaN       NaN     NaN   51949.0     NaN
        11      18460.0     NaN       NaN     NaN   48366.0     NaN
        12       9128.0     NaN       NaN     NaN   64602.0     NaN
WN      1           NaN     NaN  116159.0     NaN   21444.0  1348.0
        2           NaN     NaN  114389.0  1772.0   27171.0  1940.0
        3           NaN     NaN  132805.0   651.0   21627.0     NaN
        4           NaN     NaN  129446.0   255.0   24668.0   784.0
        5           NaN     NaN  125769.0     NaN   34459.0   784.0
        6           NaN     NaN  148508.0     NaN   34614.0  2167.0
        7           NaN     NaN  124669.0   369.0   24176.0     NaN
        8           NaN     NaN  153350.0     NaN   18056.0   784.0
        9           NaN     NaN  130926.0     NaN   27800.0   709.0
        11          NaN     NaN  117726.0   872.0   23235.0   784.0
        12          NaN     NaN  112871.0     NaN   30508.0     NaN

[149 rows x 80 columns]

In [111]:
coll=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/college.csv')

coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']].agg(['size', 'min', 'max'])

                UGDS                   SATMTMID
                size     min       max     size    min    max
STABBR RELAFFIL
AK     0           7   109.0   12865.0        7    NaN    NaN
       1           3    27.0     275.0        3  503.0  503.0
AL     0          72    12.0   29851.0       72  420.0  590.0
       1          24    13.0    3033.0       24  400.0  560.0
AR     0          68    18.0   21405.0       68  427.0  565.0
       1          18    20.0    4485.0       18  495.0  600.0
AS     0           1  1276.0    1276.0        1    NaN    NaN
AZ     0         124     1.0  151558.0      124  503.0  580.0
       1           9    25.0    4102.0        9  480.0  480.0
CA     0         609     0.0   44744.0      609  445.0  785.0
       1         164     8.0    6745.0      164  441.0  665.0
CO     0         118     0.0   25873.0      118  424.0  680.0
       1           7     0.0    4914.0        7  530.0  530.0
CT     0          85    12.0   18016.0       85  430.0  750.0
       1          17     0.0    4904.0       17  485.0  485.0
DC     0          17    22.0   10433.0       17  445.0  655.0
       1           9  1665.0    7211.0        9  560.0  710.0
DE     0          16    42.0   18222.0       16  450.0  605.0
       1           3  1431.0    6081.0        3  430.0  430.0
FL     0         347     5.0   61470.0      347  465.0  675.0
       1          89    14.0   11976.0       89  395.0  560.0
FM     0           1  2344.0    2344.0        1    NaN    NaN
GA     0         147    19.0   26738.0      147  415.0  725.0
       1          37    88.0   23058.0       37  375.0  700.0
GU     0           2  2010.0    3607.0        2    NaN    NaN
       1           1    65.0      65.0        1    NaN    NaN
HI     0          22     3.0   13667.0       22  475.0  555.0
       1           4    96.0    2522.0        4  480.0  545.0
IA     0          62     9.0   40335.0       62  470.0  710.0
       1          30     1.0    2675.0       30  435.0  585.0
...              ...     ...       ...      ...    ...    ...
PA     0         309     0.0   39958.0      309  402.0  750.0
       1          85     2.0    6895.0       85  375.0  670.0
PR     0         136     4.0   19014.0      136  496.0  597.0
       1          12     5.0    5730.0       12    NaN    NaN
PW     0           1   602.0     602.0        1    NaN    NaN
RI     0          20    14.0   16644.0       20  460.0  725.0
       1           4   113.0    3936.0        4    NaN    NaN
SC     0          91    22.0   24623.0       91  395.0  635.0
       1          20   194.0    2949.0       20  395.0  585.0
SD     0          23    24.0   10003.0       23  472.0  610.0
       1           8    18.0    1619.0        8  480.0  575.0
TN     0         144    17.0   21396.0      144  410.0  760.0
       1          38    21.0    5778.0       38  310.0  645.0
TX     0         376     5.0   59920.0      376  415.0  750.0
       1          96    11.0   13801.0       96  415.0  665.0
UT     0          67    14.0   44499.0       67  510.0  585.0
       1          10    26.0   27163.0       10  630.0  630.0
VA     0         141     7.0   43869.0      141  420.0  695.0
       1          44    25.0   49340.0       44  385.0  545.0
VI     0           1  1971.0    1971.0        1  390.0  390.0
       1           1     NaN       NaN        1    NaN    NaN
VT     0          22     7.0    9958.0       22  425.0  685.0
       1           5   230.0    2038.0        5    NaN    NaN
WA     0         106     5.0   29468.0      106  485.0  655.0
       1          17   144.0    4754.0       17  496.0  605.0
WI     0          87    20.0   29302.0       87  480.0  680.0
       1          25     4.0    8212.0       25  452.0  605.0
WV     0          65    20.0   44924.0       65  430.0  530.0
       1           8    63.0    1375.0        8  455.0  510.0
WY     0          11    52.0    9910.0       11  540.0  540.0

[112 rows x 6 columns]

In [112]:
coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']].agg(['size', 'min', 'max']).rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')

AGG_COLS        UGDS                   SATMTMID
AGG_FUNCS       size     min       max     size    min    max
STABBR RELAFFIL
AK     0           7   109.0   12865.0        7    NaN    NaN
       1           3    27.0     275.0        3  503.0  503.0
AL     0          72    12.0   29851.0       72  420.0  590.0
       1          24    13.0    3033.0       24  400.0  560.0
AR     0          68    18.0   21405.0       68  427.0  565.0
       1          18    20.0    4485.0       18  495.0  600.0
AS     0           1  1276.0    1276.0        1    NaN    NaN
AZ     0         124     1.0  151558.0      124  503.0  580.0
       1           9    25.0    4102.0        9  480.0  480.0
CA     0         609     0.0   44744.0      609  445.0  785.0
       1         164     8.0    6745.0      164  441.0  665.0
CO     0         118     0.0   25873.0      118  424.0  680.0
       1           7     0.0    4914.0        7  530.0  530.0
CT     0          85    12.0   18016.0       85  430.0  750.0
       1          17     0.0    4904.0       17  485.0  485.0
DC     0          17    22.0   10433.0       17  445.0  655.0
       1           9  1665.0    7211.0        9  560.0  710.0
DE     0          16    42.0   18222.0       16  450.0  605.0
       1           3  1431.0    6081.0        3  430.0  430.0
FL     0         347     5.0   61470.0      347  465.0  675.0
       1          89    14.0   11976.0       89  395.0  560.0
FM     0           1  2344.0    2344.0        1    NaN    NaN
GA     0         147    19.0   26738.0      147  415.0  725.0
       1          37    88.0   23058.0       37  375.0  700.0
GU     0           2  2010.0    3607.0        2    NaN    NaN
       1           1    65.0      65.0        1    NaN    NaN
HI     0          22     3.0   13667.0       22  475.0  555.0
       1           4    96.0    2522.0        4  480.0  545.0
IA     0          62     9.0   40335.0       62  470.0  710.0
       1          30     1.0    2675.0       30  435.0  585.0
...              ...     ...       ...      ...    ...    ...
PA     0         309     0.0   39958.0      309  402.0  750.0
       1          85     2.0    6895.0       85  375.0  670.0
PR     0         136     4.0   19014.0      136  496.0  597.0
       1          12     5.0    5730.0       12    NaN    NaN
PW     0           1   602.0     602.0        1    NaN    NaN
RI     0          20    14.0   16644.0       20  460.0  725.0
       1           4   113.0    3936.0        4    NaN    NaN
SC     0          91    22.0   24623.0       91  395.0  635.0
       1          20   194.0    2949.0       20  395.0  585.0
SD     0          23    24.0   10003.0       23  472.0  610.0
       1           8    18.0    1619.0        8  480.0  575.0
TN     0         144    17.0   21396.0      144  410.0  760.0
       1          38    21.0    5778.0       38  310.0  645.0
TX     0         376     5.0   59920.0      376  415.0  750.0
       1          96    11.0   13801.0       96  415.0  665.0
UT     0          67    14.0   44499.0       67  510.0  585.0
       1          10    26.0   27163.0       10  630.0  630.0
VA     0         141     7.0   43869.0      141  420.0  695.0
       1          44    25.0   49340.0       44  385.0  545.0
VI     0           1  1971.0    1971.0        1  390.0  390.0
       1           1     NaN       NaN        1    NaN    NaN
VT     0          22     7.0    9958.0       22  425.0  685.0
       1           5   230.0    2038.0        5    NaN    NaN
WA     0         106     5.0   29468.0      106  485.0  655.0
       1          17   144.0    4754.0       17  496.0  605.0
WI     0          87    20.0   29302.0       87  480.0  680.0
       1          25     4.0    8212.0       25  452.0  605.0
WV     0          65    20.0   44924.0       65  430.0  530.0
       1           8    63.0    1375.0        8  455.0  510.0
WY     0          11    52.0    9910.0       11  540.0  540.0

[112 rows x 6 columns]

In [114]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .stack('AGG_FUNCS')
)

AGG_COLS                       UGDS  SATMTMID
STABBR RELAFFIL AGG_FUNCS
AK     0        size            7.0       7.0
                min           109.0       NaN
                max         12865.0       NaN
       1        size            3.0       3.0
                min            27.0     503.0
                max           275.0     503.0
AL     0        size           72.0      72.0
                min            12.0     420.0
                max         29851.0     590.0
       1        size           24.0      24.0
                min            13.0     400.0
                max          3033.0     560.0
AR     0        size           68.0      68.0
                min            18.0     427.0
                max         21405.0     565.0
       1        size           18.0      18.0
                min            20.0     495.0
                max          4485.0     600.0
AS     0        size            1.0       1.0
                min          1276.0       NaN
                max          1276.0       NaN
AZ     0        size          124.0     124.0
                min             1.0     503.0
                max        151558.0     580.0
       1        size            9.0       9.0
                min            25.0     480.0
                max          4102.0     480.0
CA     0        size          609.0     609.0
                min             0.0     445.0
                max         44744.0     785.0
...                             ...       ...
VI     0        min          1971.0     390.0
                max          1971.0     390.0
       1        size            1.0       1.0
VT     0        size           22.0      22.0
                min             7.0     425.0
                max          9958.0     685.0
       1        size            5.0       5.0
                min           230.0       NaN
                max          2038.0       NaN
WA     0        size          106.0     106.0
                min             5.0     485.0
                max         29468.0     655.0
       1        size           17.0      17.0
                min           144.0     496.0
                max          4754.0     605.0
WI     0        size           87.0      87.0
                min            20.0     480.0
                max         29302.0     680.0
       1        size           25.0      25.0
                min             4.0     452.0
                max          8212.0     605.0
WV     0        size           65.0      65.0
                min            20.0     430.0
                max         44924.0     530.0
       1        size            8.0       8.0
                min            63.0     455.0
                max          1375.0     510.0
WY     0        size           11.0      11.0
                min            52.0     540.0
                max          9910.0     540.0

[332 rows x 2 columns]

In [116]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .stack('AGG_FUNCS')
 .swaplevel('AGG_FUNCS','STABBR',axis='index')
)

AGG_COLS                       UGDS  SATMTMID
AGG_FUNCS RELAFFIL STABBR
size      0        AK           7.0       7.0
min       0        AK         109.0       NaN
max       0        AK       12865.0       NaN
size      1        AK           3.0       3.0
min       1        AK          27.0     503.0
max       1        AK         275.0     503.0
size      0        AL          72.0      72.0
min       0        AL          12.0     420.0
max       0        AL       29851.0     590.0
size      1        AL          24.0      24.0
min       1        AL          13.0     400.0
max       1        AL        3033.0     560.0
size      0        AR          68.0      68.0
min       0        AR          18.0     427.0
max       0        AR       21405.0     565.0
size      1        AR          18.0      18.0
min       1        AR          20.0     495.0
max       1        AR        4485.0     600.0
size      0        AS           1.0       1.0
min       0        AS        1276.0       NaN
max       0        AS        1276.0       NaN
size      0        AZ         124.0     124.0
min       0        AZ           1.0     503.0
max       0        AZ      151558.0     580.0
size      1        AZ           9.0       9.0
min       1        AZ          25.0     480.0
max       1        AZ        4102.0     480.0
size      0        CA         609.0     609.0
min       0        CA           0.0     445.0
max       0        CA       44744.0     785.0
...                             ...       ...
min       0        VI        1971.0     390.0
max       0        VI        1971.0     390.0
size      1        VI           1.0       1.0
          0        VT          22.0      22.0
min       0        VT           7.0     425.0
max       0        VT        9958.0     685.0
size      1        VT           5.0       5.0
min       1        VT         230.0       NaN
max       1        VT        2038.0       NaN
size      0        WA         106.0     106.0
min       0        WA           5.0     485.0
max       0        WA       29468.0     655.0
size      1        WA          17.0      17.0
min       1        WA         144.0     496.0
max       1        WA        4754.0     605.0
size      0        WI          87.0      87.0
min       0        WI          20.0     480.0
max       0        WI       29302.0     680.0
size      1        WI          25.0      25.0
min       1        WI           4.0     452.0
max       1        WI        8212.0     605.0
size      0        WV          65.0      65.0
min       0        WV          20.0     430.0
max       0        WV       44924.0     530.0
size      1        WV           8.0       8.0
min       1        WV          63.0     455.0
max       1        WV        1375.0     510.0
size      0        WY          11.0      11.0
min       0        WY          52.0     540.0
max       0        WY        9910.0     540.0

[332 rows x 2 columns]

In [123]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .stack('AGG_FUNCS')
 .swaplevel('AGG_FUNCS','STABBR',axis='index')
 .sort_index(level='RELAFFIL',axis='index')
 .sort_index(level='AGG_COLS',axis='columns')
)

AGG_COLS                   SATMTMID     UGDS
AGG_FUNCS RELAFFIL STABBR
size      0        AK           7.0      7.0
                   AL          72.0     72.0
                   AR          68.0     68.0
                   AS           1.0      1.0
                   AZ         124.0    124.0
                   CA         609.0    609.0
                   CO         118.0    118.0
                   CT          85.0     85.0
                   DC          17.0     17.0
                   DE          16.0     16.0
                   FL         347.0    347.0
                   FM           1.0      1.0
                   GA         147.0    147.0
                   GU           2.0      2.0
                   HI          22.0     22.0
                   IA          62.0     62.0
                   ID          36.0     36.0
                   IL         243.0    243.0
                   IN          99.0     99.0
                   KS          68.0     68.0
                   KY          81.0     81.0
                   LA         109.0    109.0
                   MA         163.0    163.0
                   MD          84.0     84.0
                   ME          37.0     37.0
                   MH           1.0      1.0
                   MI         159.0    159.0
                   MN         113.0    113.0
                   MO         154.0    154.0
                   MP           1.0      1.0
...                             ...      ...
max       1        MD         520.0   4062.0
                   ME         485.0   2292.0
                   MI         595.0   3905.0
                   MN         683.0   6080.0
                   MO         615.0   7822.0
                   MS         575.0   2942.0
                   MT         555.0   1410.0
                   NC         745.0   6480.0
                   ND         586.0   1928.0
                   NE         608.0   3977.0
                   NH         485.0   1950.0
                   NJ         575.0   5609.0
                   NV           NaN     31.0
                   NY         675.0  10878.0
                   OH         654.0   8305.0
                   OK         635.0   3441.0
                   OR         595.0   3648.0
                   PA         670.0   6895.0
                   PR           NaN   5730.0
                   RI           NaN   3936.0
                   SC         585.0   2949.0
                   SD         575.0   1619.0
                   TN         645.0   5778.0
                   TX         665.0  13801.0
                   UT         630.0  27163.0
                   VA         545.0  49340.0
                   VT           NaN   2038.0
                   WA         605.0   4754.0
                   WI         605.0   8212.0
                   WV         510.0   1375.0

[332 rows x 2 columns]

In [124]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .stack(['AGG_FUNCS','AGG_COLS'])
)

STABBR  RELAFFIL  AGG_FUNCS  AGG_COLS
AK      0         size       UGDS            7.0
                             SATMTMID        7.0
                  min        UGDS          109.0
                  max        UGDS        12865.0
        1         size       UGDS            3.0
                             SATMTMID        3.0
                  min        UGDS           27.0
                             SATMTMID      503.0
                  max        UGDS          275.0
                             SATMTMID      503.0
AL      0         size       UGDS           72.0
                             SATMTMID       72.0
                  min        UGDS           12.0
                             SATMTMID      420.0
                  max        UGDS        29851.0
                             SATMTMID      590.0
        1         size       UGDS           24.0
                             SATMTMID       24.0
                  min        UGDS           13.0
                             SATMTMID      400.0
                  max        UGDS         3033.0
                             SATMTMID      560.0
AR      0         size       UGDS           68.0
                             SATMTMID       68.0
                  min        UGDS           18.0
                             SATMTMID      427.0
                  max        UGDS        21405.0
                             SATMTMID      565.0
        1         size       UGDS           18.0
                             SATMTMID       18.0
                                          ...
WI      0         size       UGDS           87.0
                             SATMTMID       87.0
                  min        UGDS           20.0
                             SATMTMID      480.0
                  max        UGDS        29302.0
                             SATMTMID      680.0
        1         size       UGDS           25.0
                             SATMTMID       25.0
                  min        UGDS            4.0
                             SATMTMID      452.0
                  max        UGDS         8212.0
                             SATMTMID      605.0
WV      0         size       UGDS           65.0
                             SATMTMID       65.0
                  min        UGDS           20.0
                             SATMTMID      430.0
                  max        UGDS        44924.0
                             SATMTMID      530.0
        1         size       UGDS            8.0
                             SATMTMID        8.0
                  min        UGDS           63.0
                             SATMTMID      455.0
                  max        UGDS         1375.0
                             SATMTMID      510.0
WY      0         size       UGDS           11.0
                             SATMTMID       11.0
                  min        UGDS           52.0
                             SATMTMID      540.0
                  max        UGDS         9910.0
                             SATMTMID      540.0
Length: 640, dtype: float64

In [125]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .stack(['AGG_FUNCS','AGG_COLS'])
 .unstack(['STABBR','RELAFFIL'])
)

STABBR                   AK              AL               AR              AS  \
RELAFFIL                  0      1        0       1        0       1       0
AGG_FUNCS AGG_COLS
size      UGDS          7.0    3.0     72.0    24.0     68.0    18.0     1.0
          SATMTMID      7.0    3.0     72.0    24.0     68.0    18.0     1.0
min       UGDS        109.0   27.0     12.0    13.0     18.0    20.0  1276.0
          SATMTMID      NaN  503.0    420.0   400.0    427.0   495.0     NaN
max       UGDS      12865.0  275.0  29851.0  3033.0  21405.0  4485.0  1276.0
          SATMTMID      NaN  503.0    590.0   560.0    565.0   600.0     NaN

STABBR                    AZ               CA   ...     VI      VT          \
RELAFFIL                   0       1        0   ...      1       0       1
AGG_FUNCS AGG_COLS                              ...
size      UGDS         124.0     9.0    609.0   ...    1.0    22.0     5.0
          SATMTMID     124.0     9.0    609.0   ...    1.0    22.0     5.0
min       UGDS           1.0    25.0      0.0   ...    NaN     7.0   230.0
          SATMTMID     503.0   480.0    445.0   ...    NaN   425.0     NaN
max       UGDS      151558.0  4102.0  44744.0   ...    NaN  9958.0  2038.0
          SATMTMID     580.0   480.0    785.0   ...    NaN   685.0     NaN

STABBR                   WA               WI               WV              WY
RELAFFIL                  0       1        0       1        0       1       0
AGG_FUNCS AGG_COLS
size      UGDS        106.0    17.0     87.0    25.0     65.0     8.0    11.0
          SATMTMID    106.0    17.0     87.0    25.0     65.0     8.0    11.0
min       UGDS          5.0   144.0     20.0     4.0     20.0    63.0    52.0
          SATMTMID    485.0   496.0    480.0   452.0    430.0   455.0   540.0
max       UGDS      29468.0  4754.0  29302.0  8212.0  44924.0  1375.0  9910.0
          SATMTMID    655.0   605.0    680.0   605.0    530.0   510.0   540.0

[6 rows x 112 columns]

In [126]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis(['AGG_COLS', 'AGG_FUNCS'],axis='columns')
 .unstack(['STABBR','RELAFFIL'])
)

AGG_COLS  AGG_FUNCS  STABBR  RELAFFIL
UGDS      size       AK      0             7.0
                             1             3.0
                     AL      0            72.0
                             1            24.0
                     AR      0            68.0
                             1            18.0
                     AS      0             1.0
                             1             NaN
                     AZ      0           124.0
                             1             9.0
                     CA      0           609.0
                             1           164.0
                     CO      0           118.0
                             1             7.0
                     CT      0            85.0
                             1            17.0
                     DC      0            17.0
                             1             9.0
                     DE      0            16.0
                             1             3.0
                     FL      0           347.0
                             1            89.0
                     FM      0             1.0
                             1             NaN
                     GA      0           147.0
                             1            37.0
                     GU      0             2.0
                             1             1.0
                     HI      0            22.0
                             1             4.0
                                         ...
SATMTMID  max        PR      0           597.0
                             1             NaN
                     PW      0             NaN
                             1             NaN
                     RI      0           725.0
                             1             NaN
                     SC      0           635.0
                             1           585.0
                     SD      0           610.0
                             1           575.0
                     TN      0           760.0
                             1           645.0
                     TX      0           750.0
                             1           665.0
                     UT      0           585.0
                             1           630.0
                     VA      0           695.0
                             1           545.0
                     VI      0           390.0
                             1             NaN
                     VT      0           685.0
                             1             NaN
                     WA      0           655.0
                             1           605.0
                     WI      0           680.0
                             1           605.0
                     WV      0           530.0
                             1           510.0
                     WY      0           540.0
                             1             NaN
Length: 708, dtype: float64

In [129]:
(coll.groupby(['STABBR', 'RELAFFIL'])[['UGDS', 'SATMTMID']]
 .agg(['size', 'min', 'max'])
 .rename_axis([None, None],axis='columns')
 .rename_axis([None, None],axis='index')
 
)

     UGDS                   SATMTMID
     size     min       max     size    min    max
AK 0    7   109.0   12865.0        7    NaN    NaN
   1    3    27.0     275.0        3  503.0  503.0
AL 0   72    12.0   29851.0       72  420.0  590.0
   1   24    13.0    3033.0       24  400.0  560.0
AR 0   68    18.0   21405.0       68  427.0  565.0
   1   18    20.0    4485.0       18  495.0  600.0
AS 0    1  1276.0    1276.0        1    NaN    NaN
AZ 0  124     1.0  151558.0      124  503.0  580.0
   1    9    25.0    4102.0        9  480.0  480.0
CA 0  609     0.0   44744.0      609  445.0  785.0
   1  164     8.0    6745.0      164  441.0  665.0
CO 0  118     0.0   25873.0      118  424.0  680.0
   1    7     0.0    4914.0        7  530.0  530.0
CT 0   85    12.0   18016.0       85  430.0  750.0
   1   17     0.0    4904.0       17  485.0  485.0
DC 0   17    22.0   10433.0       17  445.0  655.0
   1    9  1665.0    7211.0        9  560.0  710.0
DE 0   16    42.0   18222.0       16  450.0  605.0
   1    3  1431.0    6081.0        3  430.0  430.0
FL 0  347     5.0   61470.0      347  465.0  675.0
   1   89    14.0   11976.0       89  395.0  560.0
FM 0    1  2344.0    2344.0        1    NaN    NaN
GA 0  147    19.0   26738.0      147  415.0  725.0
   1   37    88.0   23058.0       37  375.0  700.0
GU 0    2  2010.0    3607.0        2    NaN    NaN
   1    1    65.0      65.0        1    NaN    NaN
HI 0   22     3.0   13667.0       22  475.0  555.0
   1    4    96.0    2522.0        4  480.0  545.0
IA 0   62     9.0   40335.0       62  470.0  710.0
   1   30     1.0    2675.0       30  435.0  585.0
...   ...     ...       ...      ...    ...    ...
PA 0  309     0.0   39958.0      309  402.0  750.0
   1   85     2.0    6895.0       85  375.0  670.0
PR 0  136     4.0   19014.0      136  496.0  597.0
   1   12     5.0    5730.0       12    NaN    NaN
PW 0    1   602.0     602.0        1    NaN    NaN
RI 0   20    14.0   16644.0       20  460.0  725.0
   1    4   113.0    3936.0        4    NaN    NaN
SC 0   91    22.0   24623.0       91  395.0  635.0
   1   20   194.0    2949.0       20  395.0  585.0
SD 0   23    24.0   10003.0       23  472.0  610.0
   1    8    18.0    1619.0        8  480.0  575.0
TN 0  144    17.0   21396.0      144  410.0  760.0
   1   38    21.0    5778.0       38  310.0  645.0
TX 0  376     5.0   59920.0      376  415.0  750.0
   1   96    11.0   13801.0       96  415.0  665.0
UT 0   67    14.0   44499.0       67  510.0  585.0
   1   10    26.0   27163.0       10  630.0  630.0
VA 0  141     7.0   43869.0      141  420.0  695.0
   1   44    25.0   49340.0       44  385.0  545.0
VI 0    1  1971.0    1971.0        1  390.0  390.0
   1    1     NaN       NaN        1    NaN    NaN
VT 0   22     7.0    9958.0       22  425.0  685.0
   1    5   230.0    2038.0        5    NaN    NaN
WA 0  106     5.0   29468.0      106  485.0  655.0
   1   17   144.0    4754.0       17  496.0  605.0
WI 0   87    20.0   29302.0       87  480.0  680.0
   1   25     4.0    8212.0       25  452.0  605.0
WV 0   65    20.0   44924.0       65  430.0  530.0
   1    8    63.0    1375.0        8  455.0  510.0
WY 0   11    52.0    9910.0       11  540.0  540.0

[112 rows x 6 columns]

In [131]:
weightm=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/weightlifting_men.csv')

In [143]:
weightm.melt(id_vars='Weight Category')

   Weight Category   variable  value
0               56  M35 35-39    137
1               62  M35 35-39    152
2               69  M35 35-39    167
3               77  M35 35-39    182
4               85  M35 35-39    192
5               94  M35 35-39    202
6              105  M35 35-39    210
7             105+  M35 35-39    217
8               56  M40 40-44    130
9               62  M40 40-44    145
10              69  M40 40-44    160
11              77  M40 40-44    172
12              85  M40 40-44    182
13              94  M40 40-44    192
14             105  M40 40-44    200
15            105+  M40 40-44    207
16              56  M45 45-49    125
17              62  M45 45-49    137
18              69  M45 45-49    150
19              77  M45 45-49    165
20              85  M45 45-49    175
21              94  M45 45-49    182
22             105  M45 45-49    190
23            105+  M45 45-49    197
24              56  M50 50-54    115
25              62  M50 50-54    127
26              69  M50 50-54    140
27              77  M50 50-54    150
28              85  M50 50-54    160
29              94  M50 50-54    167
..             ...        ...    ...
50              69  M65 65-69     97
51              77  M65 65-69    107
52              85  M65 65-69    112
53              94  M65 65-69    120
54             105  M65 65-69    122
55            105+  M65 65-69    127
56              56  M70 70-74     67
57              62  M70 70-74     75
58              69  M70 70-74     82
59              77  M70 70-74     90
60              85  M70 70-74     95
61              94  M70 70-74    100
62             105  M70 70-74    102
63            105+  M70 70-74    107
64              56  M75 75-79     62
65              62  M75 75-79     67
66              69  M75 75-79     75
67              77  M75 75-79     82
68              85  M75 75-79     87
69              94  M75 75-79     90
70             105  M75 75-79     95
71            105+  M75 75-79    100
72              56    M80 80+     55
73              62    M80 80+     57
74              69    M80 80+     60
75              77    M80 80+     65
76              85    M80 80+     70
77              94    M80 80+     75
78             105    M80 80+     80
79            105+    M80 80+     85

[80 rows x 3 columns]

In [151]:
weightm.set_index('Weight Category')

,M35 35-39,M40 40-44,M45 45-49,M50 50-54,M55 55-59,M60 60-64,M65 65-69,M70 70-74,M75 75-79,M80 80+
Weight Category,,,,,,,,,,
56,137,130,125,115,102,92,80,67,62,55
62,152,145,137,127,112,102,90,75,67,57
69,167,160,150,140,125,112,97,82,75,60
77,182,172,165,150,135,122,107,90,82,65
85,192,182,175,160,142,130,112,95,87,70
94,202,192,182,167,150,137,120,100,90,75
105,210,200,190,175,157,142,122,102,95,80
105+,217,207,197,182,165,150,127,107,100,85

In [179]:
(weightm.set_index('Weight Category')
 .stack()
 .reset_index() )

   Weight Category    level_1    0
0               56  M35 35-39  137
1               56  M40 40-44  130
2               56  M45 45-49  125
3               56  M50 50-54  115
4               56  M55 55-59  102
5               56  M60 60-64   92
6               56  M65 65-69   80
7               56  M70 70-74   67
8               56  M75 75-79   62
9               56    M80 80+   55
10              62  M35 35-39  152
11              62  M40 40-44  145
12              62  M45 45-49  137
13              62  M50 50-54  127
14              62  M55 55-59  112
15              62  M60 60-64  102
16              62  M65 65-69   90
17              62  M70 70-74   75
18              62  M75 75-79   67
19              62    M80 80+   57
20              69  M35 35-39  167
21              69  M40 40-44  160
22              69  M45 45-49  150
23              69  M50 50-54  140
24              69  M55 55-59  125
25              69  M60 60-64  112
26              69  M65 65-69   97
27              69  M70 70-74   82
28              69  M75 75-79   75
29              69    M80 80+   60
..             ...        ...  ...
50              94  M35 35-39  202
51              94  M40 40-44  192
52              94  M45 45-49  182
53              94  M50 50-54  167
54              94  M55 55-59  150
55              94  M60 60-64  137
56              94  M65 65-69  120
57              94  M70 70-74  100
58              94  M75 75-79   90
59              94    M80 80+   75
60             105  M35 35-39  210
61             105  M40 40-44  200
62             105  M45 45-49  190
63             105  M50 50-54  175
64             105  M55 55-59  157
65             105  M60 60-64  142
66             105  M65 65-69  122
67             105  M70 70-74  102
68             105  M75 75-79   95
69             105    M80 80+   80
70            105+  M35 35-39  217
71            105+  M40 40-44  207
72            105+  M45 45-49  197
73            105+  M50 50-54  182
74            105+  M55 55-59  165
75            105+  M60 60-64  150
76            105+  M65 65-69  127
77            105+  M70 70-74  107
78            105+  M75 75-79  100
79            105+    M80 80+   85

[80 rows x 3 columns]

In [180]:
firta=(weightm.set_index('Weight Category')
 .stack()
 .reset_index()
 .rename(columns={'level_1':'sex_age',0:'Qual Total'})
)

   Weight Category    sex_age  Qual Total
0               56  M35 35-39         137
1               56  M40 40-44         130
2               56  M45 45-49         125
3               56  M50 50-54         115
4               56  M55 55-59         102
5               56  M60 60-64          92
6               56  M65 65-69          80
7               56  M70 70-74          67
8               56  M75 75-79          62
9               56    M80 80+          55
10              62  M35 35-39         152
11              62  M40 40-44         145
12              62  M45 45-49         137
13              62  M50 50-54         127
14              62  M55 55-59         112
15              62  M60 60-64         102
16              62  M65 65-69          90
17              62  M70 70-74          75
18              62  M75 75-79          67
19              62    M80 80+          57
20              69  M35 35-39         167
21              69  M40 40-44         160
22              69  M45 45-49         150
23              69  M50 50-54         140
24              69  M55 55-59         125
25              69  M60 60-64         112
26              69  M65 65-69          97
27              69  M70 70-74          82
28              69  M75 75-79          75
29              69    M80 80+          60
..             ...        ...         ...
50              94  M35 35-39         202
51              94  M40 40-44         192
52              94  M45 45-49         182
53              94  M50 50-54         167
54              94  M55 55-59         150
55              94  M60 60-64         137
56              94  M65 65-69         120
57              94  M70 70-74         100
58              94  M75 75-79          90
59              94    M80 80+          75
60             105  M35 35-39         210
61             105  M40 40-44         200
62             105  M45 45-49         190
63             105  M50 50-54         175
64             105  M55 55-59         157
65             105  M60 60-64         142
66             105  M65 65-69         122
67             105  M70 70-74         102
68             105  M75 75-79          95
69             105    M80 80+          80
70            105+  M35 35-39         217
71            105+  M40 40-44         207
72            105+  M45 45-49         197
73            105+  M50 50-54         182
74            105+  M55 55-59         165
75            105+  M60 60-64         150
76            105+  M65 65-69         127
77            105+  M70 70-74         107
78            105+  M75 75-79         100
79            105+    M80 80+          85

[80 rows x 3 columns]

In [171]:
(weightm.set_index('Weight Category')
 .stack()
 .reset_index()
 .rename(columns={'level_1':'sex_age',0:'Qual Total'})
 ['sex_age'].str.split(expand=True)
 .rename(columns={0:'sex',1:'age'})
 .assign(sex=lambda df: df.sex.str[0])
)

   sex    age
0    M  35-39
1    M  40-44
2    M  45-49
3    M  50-54
4    M  55-59
5    M  60-64
6    M  65-69
7    M  70-74
8    M  75-79
9    M    80+
10   M  35-39
11   M  40-44
12   M  45-49
13   M  50-54
14   M  55-59
15   M  60-64
16   M  65-69
17   M  70-74
18   M  75-79
19   M    80+
20   M  35-39
21   M  40-44
22   M  45-49
23   M  50-54
24   M  55-59
25   M  60-64
26   M  65-69
27   M  70-74
28   M  75-79
29   M    80+
..  ..    ...
50   M  35-39
51   M  40-44
52   M  45-49
53   M  50-54
54   M  55-59
55   M  60-64
56   M  65-69
57   M  70-74
58   M  75-79
59   M    80+
60   M  35-39
61   M  40-44
62   M  45-49
63   M  50-54
64   M  55-59
65   M  60-64
66   M  65-69
67   M  70-74
68   M  75-79
69   M    80+
70   M  35-39
71   M  40-44
72   M  45-49
73   M  50-54
74   M  55-59
75   M  60-64
76   M  65-69
77   M  70-74
78   M  75-79
79   M    80+

[80 rows x 2 columns]

In [173]:
firstguy=(weightm.set_index('Weight Category')
 .stack()
 .reset_index()
 .rename(columns={'level_1':'sex_age',0:'Qual Total'})
)

In [177]:
tidy=pd.concat([firstguy ['sex_age'].str.split(expand=True)
 .rename(columns={0:'sex',1:'age'})
 .assign(sex=lambda df: df.sex.str[0]),firstguy[['Weight Category','Qual Total']]],axis='columns')

In [186]:
res=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/restaurant_inspections.csv',parse_dates=['Date'])

In [187]:
res.head()

,Name,Date,Info,Value
0,E & E Grill House,2017-08-08,Borough,MANHATTAN
1,E & E Grill House,2017-08-08,Cuisine,American
2,E & E Grill House,2017-08-08,Description,Non-food contact surface improperly constructe...
3,E & E Grill House,2017-08-08,Grade,A
4,E & E Grill House,2017-08-08,Score,9.0

In [218]:
res.pivot_table(index=['Name','Date'],columns='Info',values='Value',aggfunc='first').reset_index()

Info,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0
5,BANGKOK CUISINE,2017-07-19,MANHATTAN,Thai,Non-food contact surface improperly constructe...,A,13.0
6,BASIL,2017-05-03,BROOKLYN,Jewish/Kosher,Cold food item held above 41Âº F (smoked fish ...,A,13.0
7,BEIT JEDDO,2017-03-23,BROOKLYN,Middle Eastern,Thawing procedures improper.,A,13.0
8,BIG FLEISHIG'S EXPRESS,2017-02-22,BROOKLYN,Jewish/Kosher,"Single service item reused, improperly stored,...",A,12.0
9,BLOSSOM ON COLUMBUS,2017-01-25,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,10.0
10,BON APPETIT RESTAURANT,2017-06-27,QUEENS,Creole,Lighting inadequate; permanent lighting not pr...,A,10.0
11,BRANDY'S PIANO BAR,2017-07-24,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
12,"CADWALADER, WICKERSHAM & TAFT",2017-06-07,MANHATTAN,American,"Sanitized equipment or utensil, including in-u...",A,11.0
13,CAFE 58,2017-04-11,BROOKLYN,American,Facility not vermin proof. Harborage or condit...,A,11.0
14,CAFFEBENE,2017-08-07,MANHATTAN,CafÃ©/Coffee/Tea,"Food contact surface not properly washed, rins...",A,5.0
15,CALL IT A WRAP,2017-08-24,STATEN ISLAND,American,Cold food item held above 41Âº F (smoked fish ...,A,8.0
16,CHARLENA CHATEAU,2017-02-28,BROOKLYN,Caribbean,Facility not vermin proof. Harborage or condit...,A,12.0
17,CIBO EXPRESS GOURMET MARKET (VAGABOND),2017-05-24,QUEENS,American,Non-food contact surface improperly constructe...,A,6.0
18,CIPRIANI DOLCI,2017-01-17,MANHATTAN,Italian,Plumbing not properly installed or maintained;...,B,22.0
19,COZY CORNER BAR & RESTAURANT,2017-05-03,QUEENS,American,Food not protected from potential source of co...,A,12.0
20,D-LITE DONUTS,2017-06-30,QUEENS,American,"Food contact surface not properly washed, rins...",A,5.0
21,DELI & GRILL,2017-04-26,BROOKLYN,Delicatessen,Plumbing not properly installed or maintained;...,A,10.0
22,E & E Grill House,2017-08-08,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
23,EMILIO SUPER BAKERY,2017-04-18,BRONX,Bakery,Plumbing not properly installed or maintained;...,A,5.0
24,EMIR PALACE,2017-05-16,BROOKLYN,Middle Eastern,"Food contact surface not properly washed, rins...",A,9.0
25,FIRST STOP BAR & GRILL,2017-05-11,QUEENS,American,Proper sanitization not provided for utensil w...,Not Yet Graded,12.0
26,FISH MARKET RESTAURANT,2017-06-16,MANHATTAN,Seafood,Non-food contact surface improperly constructe...,B,24.0
27,GOURMET SPRING RESTAURANT,2017-02-13,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,12.0
28,HAPPY TOWN CHINESE RESTAURANT,2017-03-15,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,8.0
29,HILLSIDE DOSA HUTT,2017-08-02,QUEENS,Vegetarian,Food not protected from potential source of co...,A,8.0
...,...,...,...,...,...,...,...
70,PRIMA PASTA & CAFE,2017-01-24,QUEENS,Italian,"Food contact surface not properly washed, rins...",A,12.0
71,PROMDI,2017-06-13,QUEENS,Filipino,Evidence of mice or live mice present in facil...,Z,9.0
72,PUNCH LINE JUICE BAR,2017-08-02,BROOKLYN,"Juice, Smoothies, Fruit Salads","No facilities available to wash, rinse and san...",Not Yet Graded,31.0
73,QUE SABOR BAKERY CAFE,2017-04-06,QUEENS,"Latin (Cuban, Dominican, Puerto Rican, South &...",Non-food contact surface improperly constructe...,A,9.0
74,ROOM CAFE,2017-08-01,QUEENS,Korean,Appropriately scaled metal stem-type thermomet...,A,10.0
75,ROSA MEXICANO TRIBECA,2017-06-19,MANHATTAN,Mexican,Non-food contact surface improperly constructe...,A,5.0
76,S & R LE JUICE BAR,2017-02-10,BRONX,"Juice, Smoothies, Fruit Salads",Plumbing not properly installed or maintained;...,A,9.0
77,SABI SUSHI,2017-06-19,MANHATTAN,Japanese,Food not cooled by an approved method whereby ...,B,14.0
78,SAJOMA RESTAURANT & PIZZERIA,2017-02-13,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Cold food item held above 41Âº F (smoked fish ...,B,23.0
79,SCALETTA RISTORANTE,2017-02-01,MANHATTAN,Italian,Facility not vermin proof. Harborage or condit...,A,10.0
80,SHENANIGAN'S,2017-08-16,QUEENS,American,"Raw, cooked or prepared food is adulterated, c...",A,12.0
81,SOLAS,2017-02-28,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,5.0
82,SOOKK THAI RESTAURANT,2017-02-23,MANHATTAN,Thai,Facility not vermin proof. Harborage or condit...,C,32.0
83,SOUTH SLOPE EATERY & JUICEBAR,2017-07-12,BROOKLYN,American,Wiping cloths soiled or not stored in sanitizi...,A,13.0
84,SUNBURST ESPRESSO BAR,2017-03-24,MANHATTAN,American,Cold food item held above 41Âº F (smoked fish ...,A,7.0
85,SUSHI Q JAPANESE RESTAURANT,2017-08-08,BRONX,Japanese,Hot food item not held at or above 140Âº F.,A,7.0
86,SUSHI YASAKA,2017-07-27,MANHATTAN,Japanese,Hot food item not held at or above 140Âº F.,A,12.0
87,SWEDISH FOOTBALL CLUB,2017-01-13,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,5.0
88,TAK KING CHINESE RESTAURANT,2017-04-19,BROOKLYN,Chinese,Food not cooked to required minimum temperature.,B,16.0
89,TAQUERIA JIMMY EXPRESS,2017-03-09,BROOKLYN,Mexican,Non-food contact surface improperly constructe...,A,13.0
90,TEXAS FRIED CHICKEN AND PIZZA,2017-03-23,BROOKLYN,American,Cold food item held above 41Âº F (smoked fish ...,A,12.0
91,THE CELTIC COVE,2017-08-09,QUEENS,Other,"Raw, cooked or prepared food is adulterated, c...",A,10.0
92,THE CRAFTSMAN,2017-09-15,MANHATTAN,American,Evidence of mice or live mice present in facil...,Not Yet Graded,32.0
93,TOWERS CAFE,2017-08-16,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,12.0
94,TOWNE DELI & PIZZA,2017-04-11,STATEN ISLAND,Pizza,Hot food item not held at or above 140Âº F.,B,16.0
95,VALL'S PIZZERIA,2017-03-15,STATEN ISLAND,Pizza/Italian,Wiping cloths soiled or not stored in sanitizi...,A,9.0
96,VIP GRILL,2017-06-12,BROOKLYN,Jewish/Kosher,Hot food item not held at or above 140Âº F.,A,10.0
97,WAHIZZA,2017-04-13,MANHATTAN,Pizza,"No facilities available to wash, rinse and san...",A,10.0
98,WANG MANDOO HOUSE,2017-08-29,QUEENS,Korean,Accurate thermometer not provided in refrigera...,A,12.0
99,XIAOYAN YABO INC,2017-08-29,QUEENS,Korean,Evidence of mice or live mice present in facil...,Z,49.0

In [193]:
res.set_index(['Name','Date','Info'])

                                                                                                  Value
Name                          Date       Info
E & E Grill House             2017-08-08 Borough                                              MANHATTAN
                                         Cuisine                                               American
                                         Description  Non-food contact surface improperly constructe...
                                         Grade                                                        A
                                         Score                                                      9.0
PIZZA WAGON                   2017-04-12 Borough                                               BROOKLYN
                                         Cuisine                                                  Pizza
                                         Description  Food contact surface not properly washed, rins...
                                         Grade                                                        A
                                         Score                                                     10.0
NY SWEET SPOT CAFE            2017-03-28 Borough                                               BROOKLYN
                                         Cuisine                                       Eastern European
                                         Description  Plumbing not properly installed or maintained;...
                                         Grade                                                        A
                                         Score                                                      7.0
KATOU FINE RESTAURANT         2017-06-03 Borough                                               BROOKLYN
                                         Cuisine                                                 Creole
                                         Description  Plumbing not properly installed or maintained;...
                                         Grade                                                        A
                                         Score                                                     12.0
BRANDY'S PIANO BAR            2017-07-24 Borough                                              MANHATTAN
                                         Cuisine                                               American
                                         Description  Non-food contact surface improperly constructe...
                                         Grade                                                        A
                                         Score                                                      9.0
HOLLAND HOUSE                 2017-02-06 Borough                                              MANHATTAN
                                         Cuisine                                               American
                                         Description        Hot food item not held at or above 140Âº F.
                                         Grade                                                        A
                                         Score                                                     11.0
...                                                                                                 ...
LA SIRENA                     2017-08-28 Borough                                              MANHATTAN
                                         Cuisine                                                Italian
                                         Description  Filth flies or food/refuse/sewage-associated (...
                                         Grade                                                        A
                                         Score                                                     10.0
SWEDISH FOOTBALL CLUB         2017-01-13 Borough                                               BROOKLYN
                                         Cuisine                                               American
                                         Description  Food contact surface not properly washed, rins...
                                         Grade                                                        A
                                         Score                                                      5.0
CIPRIANI DOLCI                2017-01-17 Borough                                              MANHATTAN
                                         Cuisine                                                Italian
                                         Description  Plumbing not properly installed or maintained;...
                                         Grade                                                        B
                                         Score                                                     22.0
OLLIES TO GO                  2017-01-31 Borough                                              MANHATTAN
                                         Cuisine                                       Chinese/Japanese
                                         Description  Non-food contact surface improperly constructe...
                                         Grade                                                        A
                                         Score                                                     10.0
SOLAS                         2017-02-28 Borough                                              MANHATTAN
                                         Cuisine                                               American
                                         Description  Food contact surface not properly washed, rins...
                                         Grade                                                        A
                                         Score                                                      5.0
PIER SIXTY ONE-THE LIGHTHOUSE 2017-09-01 Borough                                              MANHATTAN
                                         Cuisine                                               American
                                         Description  Filth flies or food/refuse/sewage-associated (...
                                         Grade                                                        Z
                                         Score                                                     33.0

[500 rows x 1 columns]

In [194]:
res.set_index(['Name','Date','Info']).unstack('Info')

                                                           Value  \
Info                                                     Borough
Name                                   Date
3 STAR JUICE CENTER                    2017-05-10       BROOKLYN
A & L PIZZA RESTAURANT                 2017-08-22       BROOKLYN
AKSARAY TURKISH CAFE AND RESTAURANT    2017-07-25       BROOKLYN
ANTOJITOS DELI FOOD                    2017-06-01       BROOKLYN
BANGIA                                 2017-06-16      MANHATTAN
BANGKOK CUISINE                        2017-07-19      MANHATTAN
BASIL                                  2017-05-03       BROOKLYN
BEIT JEDDO                             2017-03-23       BROOKLYN
BIG FLEISHIG'S EXPRESS                 2017-02-22       BROOKLYN
BLOSSOM  ON COLUMBUS                   2017-01-25      MANHATTAN
BON APPETIT RESTAURANT                 2017-06-27         QUEENS
BRANDY'S PIANO BAR                     2017-07-24      MANHATTAN
CADWALADER, WICKERSHAM & TAFT          2017-06-07      MANHATTAN
CAFE 58                                2017-04-11       BROOKLYN
CAFFEBENE                              2017-08-07      MANHATTAN
CALL IT A WRAP                         2017-08-24  STATEN ISLAND
CHARLENA CHATEAU                       2017-02-28       BROOKLYN
CIBO EXPRESS GOURMET MARKET (VAGABOND) 2017-05-24         QUEENS
CIPRIANI DOLCI                         2017-01-17      MANHATTAN
COZY CORNER BAR & RESTAURANT           2017-05-03         QUEENS
D-LITE DONUTS                          2017-06-30         QUEENS
DELI & GRILL                           2017-04-26       BROOKLYN
E & E Grill House                      2017-08-08      MANHATTAN
EMILIO SUPER BAKERY                    2017-04-18          BRONX
EMIR PALACE                            2017-05-16       BROOKLYN
FIRST STOP BAR & GRILL                 2017-05-11         QUEENS
FISH MARKET RESTAURANT                 2017-06-16      MANHATTAN
GOURMET SPRING RESTAURANT              2017-02-13         QUEENS
HAPPY TOWN CHINESE RESTAURANT          2017-03-15         QUEENS
HILLSIDE DOSA HUTT                     2017-08-02         QUEENS
...                                                          ...
PRIMA PASTA & CAFE                     2017-01-24         QUEENS
PROMDI                                 2017-06-13         QUEENS
PUNCH LINE JUICE BAR                   2017-08-02       BROOKLYN
QUE SABOR BAKERY CAFE                  2017-04-06         QUEENS
ROOM CAFE                              2017-08-01         QUEENS
ROSA MEXICANO TRIBECA                  2017-06-19      MANHATTAN
S & R LE JUICE BAR                     2017-02-10          BRONX
SABI SUSHI                             2017-06-19      MANHATTAN
SAJOMA RESTAURANT & PIZZERIA           2017-02-13       BROOKLYN
SCALETTA RISTORANTE                    2017-02-01      MANHATTAN
SHENANIGAN'S                           2017-08-16         QUEENS
SOLAS                                  2017-02-28      MANHATTAN
SOOKK THAI RESTAURANT                  2017-02-23      MANHATTAN
SOUTH SLOPE EATERY & JUICEBAR          2017-07-12       BROOKLYN
SUNBURST ESPRESSO BAR                  2017-03-24      MANHATTAN
SUSHI Q JAPANESE RESTAURANT            2017-08-08          BRONX
SUSHI YASAKA                           2017-07-27      MANHATTAN
SWEDISH FOOTBALL CLUB                  2017-01-13       BROOKLYN
TAK KING CHINESE RESTAURANT            2017-04-19       BROOKLYN
TAQUERIA JIMMY EXPRESS                 2017-03-09       BROOKLYN
TEXAS FRIED CHICKEN AND PIZZA          2017-03-23       BROOKLYN
THE CELTIC COVE                        2017-08-09         QUEENS
THE CRAFTSMAN                          2017-09-15      MANHATTAN
TOWERS CAFE                            2017-08-16       BROOKLYN
TOWNE DELI & PIZZA                     2017-04-11  STATEN ISLAND
VALL'S PIZZERIA                        2017-03-15  STATEN ISLAND
VIP GRILL                              2017-06-12       BROOKLYN
WAHIZZA                                2017-04-13      MANHATTAN
WANG MANDOO HOUSE                      2017-08-29         QUEENS
XIAOYAN YABO INC                       2017-08-29         QUEENS

                                                                                                      \
Info                                                                                         Cuisine
Name                                   Date
3 STAR JUICE CENTER                    2017-05-10                     Juice, Smoothies, Fruit Salads
A & L PIZZA RESTAURANT                 2017-08-22                                              Pizza
AKSARAY TURKISH CAFE AND RESTAURANT    2017-07-25                                            Turkish
ANTOJITOS DELI FOOD                    2017-06-01  Latin (Cuban, Dominican, Puerto Rican, South &...
BANGIA                                 2017-06-16                                             Korean
BANGKOK CUISINE                        2017-07-19                                               Thai
BASIL                                  2017-05-03                                      Jewish/Kosher
BEIT JEDDO                             2017-03-23                                     Middle Eastern
BIG FLEISHIG'S EXPRESS                 2017-02-22                                      Jewish/Kosher
BLOSSOM  ON COLUMBUS                   2017-01-25                                           American
BON APPETIT RESTAURANT                 2017-06-27                                             Creole
BRANDY'S PIANO BAR                     2017-07-24                                           American
CADWALADER, WICKERSHAM & TAFT          2017-06-07                                           American
CAFE 58                                2017-04-11                                           American
CAFFEBENE                              2017-08-07                                   CafÃ©/Coffee/Tea
CALL IT A WRAP                         2017-08-24                                           American
CHARLENA CHATEAU                       2017-02-28                                          Caribbean
CIBO EXPRESS GOURMET MARKET (VAGABOND) 2017-05-24                                           American
CIPRIANI DOLCI                         2017-01-17                                            Italian
COZY CORNER BAR & RESTAURANT           2017-05-03                                           American
D-LITE DONUTS                          2017-06-30                                           American
DELI & GRILL                           2017-04-26                                       Delicatessen
E & E Grill House                      2017-08-08                                           American
EMILIO SUPER BAKERY                    2017-04-18                                             Bakery
EMIR PALACE                            2017-05-16                                     Middle Eastern
FIRST STOP BAR & GRILL                 2017-05-11                                           American
FISH MARKET RESTAURANT                 2017-06-16                                            Seafood
GOURMET SPRING RESTAURANT              2017-02-13                                            Chinese
HAPPY TOWN CHINESE RESTAURANT          2017-03-15                                            Chinese
HILLSIDE DOSA HUTT                     2017-08-02                                         Vegetarian
...                                                                                              ...
PRIMA PASTA & CAFE                     2017-01-24                                            Italian
PROMDI                                 2017-06-13                                           Filipino
PUNCH LINE JUICE BAR                   2017-08-02                     Juice, Smoothies, Fruit Salads
QUE SABOR BAKERY CAFE                  2017-04-06  Latin (Cuban, Dominican, Puerto Rican, South &...
ROOM CAFE                              2017-08-01                                             Korean
ROSA MEXICANO TRIBECA                  2017-06-19                                            Mexican
S & R LE JUICE BAR                     2017-02-10                     Juice, Smoothies, Fruit Salads
SABI SUSHI                             2017-06-19                                           Japanese
SAJOMA RESTAURANT & PIZZERIA           2017-02-13  Latin (Cuban, Dominican, Puerto Rican, South &...
SCALETTA RISTORANTE                    2017-02-01                                            Italian
SHENANIGAN'S                           2017-08-16                                           American
SOLAS                                  2017-02-28                                           American
SOOKK THAI RESTAURANT                  2017-02-23                                               Thai
SOUTH SLOPE EATERY & JUICEBAR          2017-07-12                                           American
SUNBURST ESPRESSO BAR                  2017-03-24                                           American
SUSHI Q JAPANESE RESTAURANT            2017-08-08                                           Japanese
SUSHI YASAKA                           2017-07-27                                           Japanese
SWEDISH FOOTBALL CLUB                  2017-01-13                                           American
TAK KING CHINESE RESTAURANT            2017-04-19                                            Chinese
TAQUERIA JIMMY EXPRESS                 2017-03-09                                            Mexican
TEXAS FRIED CHICKEN AND PIZZA          2017-03-23                                           American
THE CELTIC COVE                        2017-08-09                                              Other
THE CRAFTSMAN                          2017-09-15                                           American
TOWERS CAFE                            2017-08-16                                           American
TOWNE DELI & PIZZA                     2017-04-11                                              Pizza
VALL'S PIZZERIA                        2017-03-15                                      Pizza/Italian
VIP GRILL                              2017-06-12                                      Jewish/Kosher
WAHIZZA                                2017-04-13                                              Pizza
WANG MANDOO HOUSE                      2017-08-29                                             Korean
XIAOYAN YABO INC                       2017-08-29                                             Korean

                                                                                                      \
Info                                                                                     Description
Name                                   Date
3 STAR JUICE CENTER                    2017-05-10  Facility not vermin proof. Harborage or condit...
A & L PIZZA RESTAURANT                 2017-08-22  Facility not vermin proof. Harborage or condit...
AKSARAY TURKISH CAFE AND RESTAURANT    2017-07-25  Plumbing not properly installed or maintained;...
ANTOJITOS DELI FOOD                    2017-06-01  Live roaches present in facility's food and/or...
BANGIA                                 2017-06-16  Covered garbage receptacle not provided or ina...
BANGKOK CUISINE                        2017-07-19  Non-food contact surface improperly constructe...
BASIL                                  2017-05-03  Cold food item held above 41Âº F (smoked fish ...
BEIT JEDDO                             2017-03-23                       Thawing procedures improper.
BIG FLEISHIG'S EXPRESS                 2017-02-22  Single service item reused, improperly stored,...
BLOSSOM  ON COLUMBUS                   2017-01-25  Food contact surface not properly washed, rins...
BON APPETIT RESTAURANT                 2017-06-27  Lighting inadequate; permanent lighting not pr...
BRANDY'S PIANO BAR                     2017-07-24  Non-food contact surface improperly constructe...
CADWALADER, WICKERSHAM & TAFT          2017-06-07  Sanitized equipment or utensil, including in-u...
CAFE 58                                2017-04-11  Facility not vermin proof. Harborage or condit...
CAFFEBENE                              2017-08-07  Food contact surface not properly washed, rins...
CALL IT A WRAP                         2017-08-24  Cold food item held above 41Âº F (smoked fish ...
CHARLENA CHATEAU                       2017-02-28  Facility not vermin proof. Harborage or condit...
CIBO EXPRESS GOURMET MARKET (VAGABOND) 2017-05-24  Non-food contact surface improperly constructe...
CIPRIANI DOLCI                         2017-01-17  Plumbing not properly installed or maintained;...
COZY CORNER BAR & RESTAURANT           2017-05-03  Food not protected from potential source of co...
D-LITE DONUTS                          2017-06-30  Food contact surface not properly washed, rins...
DELI & GRILL                           2017-04-26  Plumbing not properly installed or maintained;...
E & E Grill House                      2017-08-08  Non-food contact surface improperly constructe...
EMILIO SUPER BAKERY                    2017-04-18  Plumbing not properly installed or maintained;...
EMIR PALACE                            2017-05-16  Food contact surface not properly washed, rins...
FIRST STOP BAR & GRILL                 2017-05-11  Proper sanitization not provided for utensil w...
FISH MARKET RESTAURANT                 2017-06-16  Non-food contact surface improperly constructe...
GOURMET SPRING RESTAURANT              2017-02-13  Non-food contact surface improperly constructe...
HAPPY TOWN CHINESE RESTAURANT          2017-03-15  Non-food contact surface improperly constructe...
HILLSIDE DOSA HUTT                     2017-08-02  Food not protected from potential source of co...
...                                                                                              ...
PRIMA PASTA & CAFE                     2017-01-24  Food contact surface not properly washed, rins...
PROMDI                                 2017-06-13  Evidence of mice or live mice present in facil...
PUNCH LINE JUICE BAR                   2017-08-02  No facilities available to wash, rinse and san...
QUE SABOR BAKERY CAFE                  2017-04-06  Non-food contact surface improperly constructe...
ROOM CAFE                              2017-08-01  Appropriately scaled metal stem-type thermomet...
ROSA MEXICANO TRIBECA                  2017-06-19  Non-food contact surface improperly constructe...
S & R LE JUICE BAR                     2017-02-10  Plumbing not properly installed or maintained;...
SABI SUSHI                             2017-06-19  Food not cooled by an approved method whereby ...
SAJOMA RESTAURANT & PIZZERIA           2017-02-13  Cold food item held above 41Âº F (smoked fish ...
SCALETTA RISTORANTE                    2017-02-01  Facility not vermin proof. Harborage or condit...
SHENANIGAN'S                           2017-08-16  Raw, cooked or prepared food is adulterated, c...
SOLAS                                  2017-02-28  Food contact surface not properly washed, rins...
SOOKK THAI RESTAURANT                  2017-02-23  Facility not vermin proof. Harborage or condit...
SOUTH SLOPE EATERY & JUICEBAR          2017-07-12  Wiping cloths soiled or not stored in sanitizi...
SUNBURST ESPRESSO BAR                  2017-03-24  Cold food item held above 41Âº F (smoked fish ...
SUSHI Q JAPANESE RESTAURANT            2017-08-08        Hot food item not held at or above 140Âº F.
SUSHI YASAKA                           2017-07-27        Hot food item not held at or above 140Âº F.
SWEDISH FOOTBALL CLUB                  2017-01-13  Food contact surface not properly washed, rins...
TAK KING CHINESE RESTAURANT            2017-04-19   Food not cooked to required minimum temperature.
TAQUERIA JIMMY EXPRESS                 2017-03-09  Non-food contact surface improperly constructe...
TEXAS FRIED CHICKEN AND PIZZA          2017-03-23  Cold food item held above 41Âº F (smoked fish ...
THE CELTIC COVE                        2017-08-09  Raw, cooked or prepared food is adulterated, c...
THE CRAFTSMAN                          2017-09-15  Evidence of mice or live mice present in facil...
TOWERS CAFE                            2017-08-16  Food contact surface not properly washed, rins...
TOWNE DELI & PIZZA                     2017-04-11        Hot food item not held at or above 140Âº F.
VALL'S PIZZERIA                        2017-03-15  Wiping cloths soiled or not stored in sanitizi...
VIP GRILL                              2017-06-12        Hot food item not held at or above 140Âº F.
WAHIZZA                                2017-04-13  No facilities available to wash, rinse and san...
WANG MANDOO HOUSE                      2017-08-29  Accurate thermometer not provided in refrigera...
XIAOYAN YABO INC                       2017-08-29  Evidence of mice or live mice present in facil...


Info                                                        Grade Score
Name                                   Date
3 STAR JUICE CENTER                    2017-05-10               A  12.0
A & L PIZZA RESTAURANT                 2017-08-22               A   9.0
AKSARAY TURKISH CAFE AND RESTAURANT    2017-07-25               A  13.0
ANTOJITOS DELI FOOD                    2017-06-01               A  10.0
BANGIA                                 2017-06-16               A   9.0
BANGKOK CUISINE                        2017-07-19               A  13.0
BASIL                                  2017-05-03               A  13.0
BEIT JEDDO                             2017-03-23               A  13.0
BIG FLEISHIG'S EXPRESS                 2017-02-22               A  12.0
BLOSSOM  ON COLUMBUS                   2017-01-25               A  10.0
BON APPETIT RESTAURANT                 2017-06-27               A  10.0
BRANDY'S PIANO BAR                     2017-07-24               A   9.0
CADWALADER, WICKERSHAM & TAFT          2017-06-07               A  11.0
CAFE 58                                2017-04-11               A  11.0
CAFFEBENE                              2017-08-07               A   5.0
CALL IT A WRAP                         2017-08-24               A   8.0
CHARLENA CHATEAU                       2017-02-28               A  12.0
CIBO EXPRESS GOURMET MARKET (VAGABOND) 2017-05-24               A   6.0
CIPRIANI DOLCI                         2017-01-17               B  22.0
COZY CORNER BAR & RESTAURANT           2017-05-03               A  12.0
D-LITE DONUTS                          2017-06-30               A   5.0
DELI & GRILL                           2017-04-26               A  10.0
E & E Grill House                      2017-08-08               A   9.0
EMILIO SUPER BAKERY                    2017-04-18               A   5.0
EMIR PALACE                            2017-05-16               A   9.0
FIRST STOP BAR & GRILL                 2017-05-11  Not Yet Graded  12.0
FISH MARKET RESTAURANT                 2017-06-16               B  24.0
GOURMET SPRING RESTAURANT              2017-02-13               A  12.0
HAPPY TOWN CHINESE RESTAURANT          2017-03-15               A   8.0
HILLSIDE DOSA HUTT                     2017-08-02               A   8.0
...                                                           ...   ...
PRIMA PASTA & CAFE                     2017-01-24               A  12.0
PROMDI                                 2017-06-13               Z   9.0
PUNCH LINE JUICE BAR                   2017-08-02  Not Yet Graded  31.0
QUE SABOR BAKERY CAFE                  2017-04-06               A   9.0
ROOM CAFE                              2017-08-01               A  10.0
ROSA MEXICANO TRIBECA                  2017-06-19               A   5.0
S & R LE JUICE BAR                     2017-02-10               A   9.0
SABI SUSHI                             2017-06-19               B  14.0
SAJOMA RESTAURANT & PIZZERIA           2017-02-13               B  23.0

In [201]:
res.set_index(['Name','Date','Info']).unstack('Info').reset_index().head().columns

MultiIndex(levels=[['Value', 'Date', 'Name'], ['Borough', 'Cuisine', 'Description', 'Grade', 'Score', '']],
           labels=[[2, 1, 0, 0, 0, 0, 0], [5, 5, 0, 1, 2, 3, 4]],
           names=[None, 'Info'])

In [209]:
res.set_index(['Name','Date','Info']).unstack('Info').reset_index(col_level=1).head()

                                                          Value  \
Info                                 Name       Date    Borough
0                     3 STAR JUICE CENTER 2017-05-10   BROOKLYN
1                  A & L PIZZA RESTAURANT 2017-08-22   BROOKLYN
2     AKSARAY TURKISH CAFE AND RESTAURANT 2017-07-25   BROOKLYN
3                     ANTOJITOS DELI FOOD 2017-06-01   BROOKLYN
4                                  BANGIA 2017-06-16  MANHATTAN

                                                         \
Info                                            Cuisine
0                        Juice, Smoothies, Fruit Salads
1                                                 Pizza
2                                               Turkish
3     Latin (Cuban, Dominican, Puerto Rican, South &...
4                                                Korean


Info                                        Description Grade Score
0     Facility not vermin proof. Harborage or condit...     A  12.0
1     Facility not vermin proof. Harborage or condit...     A   9.0
2     Plumbing not properly installed or maintained;...     A  13.0
3     Live roaches present in facility's food and/or...     A  10.0
4     Covered garbage receptacle not provided or ina...     A   9.0

In [215]:
def flatten(df):
    df.columns=df.columns.droplevel(0).rename(None)
    return df

In [216]:
res.set_index(['Name','Date','Info']).unstack('Info').reset_index(col_level=-1).pipe(flatten)

,Name,Date,Borough,Cuisine,Description,Grade,Score
0,3 STAR JUICE CENTER,2017-05-10,BROOKLYN,"Juice, Smoothies, Fruit Salads",Facility not vermin proof. Harborage or condit...,A,12.0
1,A & L PIZZA RESTAURANT,2017-08-22,BROOKLYN,Pizza,Facility not vermin proof. Harborage or condit...,A,9.0
2,AKSARAY TURKISH CAFE AND RESTAURANT,2017-07-25,BROOKLYN,Turkish,Plumbing not properly installed or maintained;...,A,13.0
3,ANTOJITOS DELI FOOD,2017-06-01,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Live roaches present in facility's food and/or...,A,10.0
4,BANGIA,2017-06-16,MANHATTAN,Korean,Covered garbage receptacle not provided or ina...,A,9.0
5,BANGKOK CUISINE,2017-07-19,MANHATTAN,Thai,Non-food contact surface improperly constructe...,A,13.0
6,BASIL,2017-05-03,BROOKLYN,Jewish/Kosher,Cold food item held above 41Âº F (smoked fish ...,A,13.0
7,BEIT JEDDO,2017-03-23,BROOKLYN,Middle Eastern,Thawing procedures improper.,A,13.0
8,BIG FLEISHIG'S EXPRESS,2017-02-22,BROOKLYN,Jewish/Kosher,"Single service item reused, improperly stored,...",A,12.0
9,BLOSSOM ON COLUMBUS,2017-01-25,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,10.0
10,BON APPETIT RESTAURANT,2017-06-27,QUEENS,Creole,Lighting inadequate; permanent lighting not pr...,A,10.0
11,BRANDY'S PIANO BAR,2017-07-24,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
12,"CADWALADER, WICKERSHAM & TAFT",2017-06-07,MANHATTAN,American,"Sanitized equipment or utensil, including in-u...",A,11.0
13,CAFE 58,2017-04-11,BROOKLYN,American,Facility not vermin proof. Harborage or condit...,A,11.0
14,CAFFEBENE,2017-08-07,MANHATTAN,CafÃ©/Coffee/Tea,"Food contact surface not properly washed, rins...",A,5.0
15,CALL IT A WRAP,2017-08-24,STATEN ISLAND,American,Cold food item held above 41Âº F (smoked fish ...,A,8.0
16,CHARLENA CHATEAU,2017-02-28,BROOKLYN,Caribbean,Facility not vermin proof. Harborage or condit...,A,12.0
17,CIBO EXPRESS GOURMET MARKET (VAGABOND),2017-05-24,QUEENS,American,Non-food contact surface improperly constructe...,A,6.0
18,CIPRIANI DOLCI,2017-01-17,MANHATTAN,Italian,Plumbing not properly installed or maintained;...,B,22.0
19,COZY CORNER BAR & RESTAURANT,2017-05-03,QUEENS,American,Food not protected from potential source of co...,A,12.0
20,D-LITE DONUTS,2017-06-30,QUEENS,American,"Food contact surface not properly washed, rins...",A,5.0
21,DELI & GRILL,2017-04-26,BROOKLYN,Delicatessen,Plumbing not properly installed or maintained;...,A,10.0
22,E & E Grill House,2017-08-08,MANHATTAN,American,Non-food contact surface improperly constructe...,A,9.0
23,EMILIO SUPER BAKERY,2017-04-18,BRONX,Bakery,Plumbing not properly installed or maintained;...,A,5.0
24,EMIR PALACE,2017-05-16,BROOKLYN,Middle Eastern,"Food contact surface not properly washed, rins...",A,9.0
25,FIRST STOP BAR & GRILL,2017-05-11,QUEENS,American,Proper sanitization not provided for utensil w...,Not Yet Graded,12.0
26,FISH MARKET RESTAURANT,2017-06-16,MANHATTAN,Seafood,Non-food contact surface improperly constructe...,B,24.0
27,GOURMET SPRING RESTAURANT,2017-02-13,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,12.0
28,HAPPY TOWN CHINESE RESTAURANT,2017-03-15,QUEENS,Chinese,Non-food contact surface improperly constructe...,A,8.0
29,HILLSIDE DOSA HUTT,2017-08-02,QUEENS,Vegetarian,Food not protected from potential source of co...,A,8.0
...,...,...,...,...,...,...,...
70,PRIMA PASTA & CAFE,2017-01-24,QUEENS,Italian,"Food contact surface not properly washed, rins...",A,12.0
71,PROMDI,2017-06-13,QUEENS,Filipino,Evidence of mice or live mice present in facil...,Z,9.0
72,PUNCH LINE JUICE BAR,2017-08-02,BROOKLYN,"Juice, Smoothies, Fruit Salads","No facilities available to wash, rinse and san...",Not Yet Graded,31.0
73,QUE SABOR BAKERY CAFE,2017-04-06,QUEENS,"Latin (Cuban, Dominican, Puerto Rican, South &...",Non-food contact surface improperly constructe...,A,9.0
74,ROOM CAFE,2017-08-01,QUEENS,Korean,Appropriately scaled metal stem-type thermomet...,A,10.0
75,ROSA MEXICANO TRIBECA,2017-06-19,MANHATTAN,Mexican,Non-food contact surface improperly constructe...,A,5.0
76,S & R LE JUICE BAR,2017-02-10,BRONX,"Juice, Smoothies, Fruit Salads",Plumbing not properly installed or maintained;...,A,9.0
77,SABI SUSHI,2017-06-19,MANHATTAN,Japanese,Food not cooled by an approved method whereby ...,B,14.0
78,SAJOMA RESTAURANT & PIZZERIA,2017-02-13,BROOKLYN,"Latin (Cuban, Dominican, Puerto Rican, South &...",Cold food item held above 41Âº F (smoked fish ...,B,23.0
79,SCALETTA RISTORANTE,2017-02-01,MANHATTAN,Italian,Facility not vermin proof. Harborage or condit...,A,10.0
80,SHENANIGAN'S,2017-08-16,QUEENS,American,"Raw, cooked or prepared food is adulterated, c...",A,12.0
81,SOLAS,2017-02-28,MANHATTAN,American,"Food contact surface not properly washed, rins...",A,5.0
82,SOOKK THAI RESTAURANT,2017-02-23,MANHATTAN,Thai,Facility not vermin proof. Harborage or condit...,C,32.0
83,SOUTH SLOPE EATERY & JUICEBAR,2017-07-12,BROOKLYN,American,Wiping cloths soiled or not stored in sanitizi...,A,13.0
84,SUNBURST ESPRESSO BAR,2017-03-24,MANHATTAN,American,Cold food item held above 41Âº F (smoked fish ...,A,7.0
85,SUSHI Q JAPANESE RESTAURANT,2017-08-08,BRONX,Japanese,Hot food item not held at or above 140Âº F.,A,7.0
86,SUSHI YASAKA,2017-07-27,MANHATTAN,Japanese,Hot food item not held at or above 140Âº F.,A,12.0
87,SWEDISH FOOTBALL CLUB,2017-01-13,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,5.0
88,TAK KING CHINESE RESTAURANT,2017-04-19,BROOKLYN,Chinese,Food not cooked to required minimum temperature.,B,16.0
89,TAQUERIA JIMMY EXPRESS,2017-03-09,BROOKLYN,Mexican,Non-food contact surface improperly constructe...,A,13.0
90,TEXAS FRIED CHICKEN AND PIZZA,2017-03-23,BROOKLYN,American,Cold food item held above 41Âº F (smoked fish ...,A,12.0
91,THE CELTIC COVE,2017-08-09,QUEENS,Other,"Raw, cooked or prepared food is adulterated, c...",A,10.0
92,THE CRAFTSMAN,2017-09-15,MANHATTAN,American,Evidence of mice or live mice present in facil...,Not Yet Graded,32.0
93,TOWERS CAFE,2017-08-16,BROOKLYN,American,"Food contact surface not properly washed, rins...",A,12.0
94,TOWNE DELI & PIZZA,2017-04-11,STATEN ISLAND,Pizza,Hot food item not held at or above 140Âº F.,B,16.0
95,VALL'S PIZZERIA,2017-03-15,STATEN ISLAND,Pizza/Italian,Wiping cloths soiled or not stored in sanitizi...,A,9.0
96,VIP GRILL,2017-06-12,BROOKLYN,Jewish/Kosher,Hot food item not held at or above 140Âº F.,A,10.0
97,WAHIZZA,2017-04-13,MANHATTAN,Pizza,"No facilities available to wash, rinse and san...",A,10.0
98,WANG MANDOO HOUSE,2017-08-29,QUEENS,Korean,Accurate thermometer not provided in refrigera...,A,12.0
99,XIAOYAN YABO INC,2017-08-29,QUEENS,Korean,Evidence of mice or live mice present in facil...,Z,49.0

In [250]:
tcities=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/texas_cities.csv')

In [251]:
tcities

      City             Geolocation
0  Houston  29.7604° N, 95.3698° W
1   Dallas  32.7767° N, 96.7970° W
2   Austin  30.2672° N, 97.7431° W

In [252]:
geolocation=tcities.Geolocation.str.split('. ',expand=True).rename(columns={0:'Latitude',1:'Latitude direction',2:'Longitude',3:'Longitude direction'})

In [253]:
geolocation

  Latitude Latitude direction Longitude Longitude direction
0  29.7604                  N   95.3698                   W
1  32.7767                  N   96.7970                   W
2  30.2672                  N   97.7431                   W

In [254]:
geolocation.dtypes

Latitude               object
Latitude direction     object
Longitude              object
Longitude direction    object
dtype: object

In [247]:
geolocation=geolocation.astype({'Latitude':'float','Longitude':'float'})

In [248]:
geolocation.dtypes

Latitude               float64
Latitude direction      object
Longitude              float64
Longitude direction     object
dtype: object

In [257]:
geolocation.assign(city=tcities['City'])

  Latitude Latitude direction Longitude Longitude direction     city
0  29.7604                  N   95.3698                   W  Houston
1  32.7767                  N   96.7970                   W   Dallas
2  30.2672                  N   97.7431                   W   Austin

In [256]:
geolocation.apply(pd.to_numeric,errors='ignore')

   Latitude Latitude direction  Longitude Longitude direction
0   29.7604                  N    95.3698                   W
1   32.7767                  N    96.7970                   W
2   30.2672                  N    97.7431                   W

In [258]:
tcities.Geolocation.str.split(pat=r'° |, ', expand=True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [259]:

tcities.Geolocation.str.extract(r'([0-9.]+). (N|S), ([0-9.]+). (E|W)',
   expand=True)

         0  1        2  3
0  29.7604  N  95.3698  W
1  32.7767  N  96.7970  W
2  30.2672  N  97.7431  W

In [260]:
sensor=pd.read_csv('C:/Users/287910031/9781839213106_Code/data/sensors.csv')

In [275]:
sensor.set_index(['Group','Property']).stack().unstack('Property').rename_axis(None,axis='columns').reset_index().rename(columns={'level_1':'Year'})

  Group  Year  Flow  Pressure  Temperature
0     A  2012   819       928         1026
1     A  2013   806       873         1038
2     A  2014   861       814         1009
3     A  2015   882       973         1036
4     A  2016   856       870         1042
5     B  2012   887       817         1008
6     B  2013   899       877         1041
7     B  2014   837       914         1009
8     B  2015   824       806         1002
9     B  2016   873       942         1013